In [1]:
%%capture

!pip install openpyxl
!pip install psycopg2-binary

In [2]:
import pandas as pd
# import numpy as np
from sqlalchemy import create_engine

In [3]:
### Load connection

In [4]:
engine = create_engine('postgresql://postgres:andy1234@database/postgres')

# accedo a DB por defecto

In [5]:
### Load data

In [6]:
filename = '../data/raw-data/Crudo relevamiento Programa de Agua.xlsx'

df_dict = pd.read_excel(filename, sheet_name = None)

# validar si realmente es el crudo, parece que hay varias celdas o tablas extras en cualquier lado

In [7]:
type(df_dict)

dict

In [8]:
list(df_dict)

['Visitas',
 'Personas',
 'Viviendas',
 'Respuestas',
 'Multimedias',
 'Objetivo Parajes',
 'Hoja 5',
 'Hoja 7']

In [9]:
### Validate data

In [10]:
df_dict['Visitas']

,CodVisita,Alias,NombreVisita,FechaInicial,FechaFinal,EstadoEncuesta,Usuario,FechaSincronizacion
0,CE_13_2888bcab266c4163_20210819112535550,ISF_0000258,MONTES STO DOMINGO,2021-08-19,2021-08-19,Completa,Gaston Guillermo Palavecino,2021-08-20
1,CE_16_2888bcab266c4163_20210819141251511,ISF_0000260,PERALTA STO DOMINGO,2021-08-19,2021-08-19,Completa,Gaston Guillermo Palavecino,2021-08-20
2,CE_17_2888bcab266c4163_20210819161516397,ISF_0000261,PERALTA NORMANDO,2021-08-19,2021-08-20,Completa,Gaston Guillermo Palavecino,2021-08-20
3,CE_19_2888bcab266c4163_20210820120514180,ISF_0000263,GOMEZ STO DOMINGO,2021-08-20,2021-08-20,Completa,Gaston Guillermo Palavecino,2021-08-20
4,CE_23_2888bcab266c4163_20210820170118855,ISF_0000267,ROJAS CESAR STO DOMINGO,2021-08-20,2021-08-20,Completa,Gaston Guillermo Palavecino,2021-08-20
...,...,...,...,...,...,...,...,...
408,CE_46_d6d3c7c6322ef318_20210824150159684,ISF_0000314,GOMEZ SILVIA N- BRACHO LAGUNA,2021-08-24,2021-08-24,Completa,Roberto Carlos Mansilla,2021-08-24
409,CE_48_d6d3c7c6322ef318_20210824154934432,ISF_0000315,VILLALBA SONIA M.- BRACHO LAGUNA,2021-08-24,2021-08-24,Completa,Roberto Carlos Mansilla,2021-08-24
410,CE_63_d6d3c7c6322ef318_20210827161250396,ISF_0000378,No Especificado,2021-08-27,2021-08-27,Imposibilitada,Roberto Carlos Mansilla,2021-08-27
411,CE_69_d6d3c7c6322ef318_20210830142313191,ISF_0000408,SUÁREZ JUAN C.-MANCAPA,2021-08-30,2021-08-30,Completa,Roberto Carlos Mansilla,2021-08-30
412,CE_71_d6d3c7c6322ef318_20210830164033342,ISF_0000410,PERALTA DANIEL_ MANCAPA,2021-08-30,2021-08-30,Completa,Roberto Carlos Mansilla,2021-08-30

In [11]:
df_dict['Personas']

,CodVisita,CodPersona,Apellidos,Nombres,FechaNacimiento,Sexo,TipoDocumento,NroDocumento
0,CE_10_2888bcab266c4163_20210818165450434,MMDA021231AD1,MONTES,DAMARIS FABIOLA,2002-12-31,FEMENINO,DNI,44250947.0
1,CE_10_2888bcab266c4163_20210818165450434,MMFA0508138V4,MONTES,FABIAN REINALDO,2005-08-13,MASCULINO,DNI,46049465.0
2,CE_10_2888bcab266c4163_20210818165450434,VVRE800917QI5,VILLARREAL,REINA DEL VALLE,1980-09-17,FEMENINO,DNI,27433571.0
3,CE_10_6ef3f08dcfed8102_20210812151131799,GGAN040804P26,GONZALEZ,ANGEL GABRIEL,2004-08-04,MASCULINO,DNI,45660399.0
4,CE_10_6ef3f08dcfed8102_20210812151131799,GGMA9712192J7,GONZALEZ,MARCELO DARIO,1997-12-19,MASCULINO,DNI,45160014.0
...,...,...,...,...,...,...,...,...
1439,CE_91_7f680a31ff0c1ed0_20210901095315891,OORI110908GV3,ORELLANA,RICARDO ARIEL,2011-09-08,MASCULINO,DNI,51446934.0
1440,CE_91_7f680a31ff0c1ed0_20210901095315891,SSHI560813KZ4,SALTO,HIPOLITO,1956-08-13,MASCULINO,DNI,12562781.0
1441,CE_92_7f680a31ff0c1ed0_20210901103159591,SSBR0210259U8,SALTO,BRAIAN DANIEL,2002-10-25,MASCULINO,DNI,45710702.0
1442,CE_92_7f680a31ff0c1ed0_20210901103159591,SSJO980414DI3,SALTO,JORGE LUIS,1998-04-14,MASCULINO,DNI,43288229.0
1443,CE_92_7f680a31ff0c1ed0_20210901103159591,SSRA0403019E1,SALTO,RAMIRO LAUTARO,2004-03-01,MASCULINO,DNI,45533528.0

In [12]:
df_dict['Viviendas']

,CodVivienda,CodVisita,Provincia,Departamento,Municipio,Localidad,Paraje,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,CV_239_2888bcab266c4163_20210810121547638,CE_2_2888bcab266c4163_20210810121547444,Santiago Del Estero,Avellaneda,Lugones,NaN,Santo Domingo,NaN,Municipio,NaN,Paraje,NaN
1,CV_240_ac7920cfe82b271a_20210810093137960,CE_3_ac7920cfe82b271a_20210810093137817,Santiago Del Estero,Avellaneda,Real Sayana,NaN,Colonia Real Sur,NaN,Lugones,NaN,Santo Domingo,Santo Domingo
2,CV_240_d6d3c7c6322ef318_20210810151757331,CE_3_d6d3c7c6322ef318_20210810151757062,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Puente Negro,NaN,Real Sayana,NaN,Colonia Real Sur,Colonia Real Sur
3,CV_241_ac7920cfe82b271a_20210810115131958,CE_4_ac7920cfe82b271a_20210810115131816,Santiago Del Estero,Avellaneda,Real Sayana,NaN,Colonia Real Sur,NaN,Colonia Dora,NaN,Puente Negro,Puente Negro
4,CV_241_bee89e481616e55f_20210810152417242,CE_4_bee89e481616e55f_20210810152417162,Santiago Del Estero,Avellaneda,Lugones,NaN,Santo Domingo,NaN,Mailin,NaN,Taquello,Taquello
...,...,...,...,...,...,...,...,...,...,...,...,...
403,CV_312_ac7920cfe82b271a_20210831123124112,CE_75_ac7920cfe82b271a_20210831123123944,Santiago Del Estero,Avellaneda,Real Sayana,NaN,Vacasnioj Sur,NaN,NaN,NaN,NaN,NaN
404,CV_312_d6d3c7c6322ef318_20210831132636962,CE_75_d6d3c7c6322ef318_20210831132636255,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Mancapa,NaN,NaN,NaN,NaN,NaN
405,CV_313_d6d3c7c6322ef318_20210901121327806,CE_76_d6d3c7c6322ef318_20210901121326780,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Tacon Esquina,NaN,NaN,NaN,NaN,NaN
406,CV_314_d6d3c7c6322ef318_20210901123413678,CE_77_d6d3c7c6322ef318_20210901123413020,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Tacon Esquina,NaN,NaN,NaN,NaN,NaN
407,CV_322_7f680a31ff0c1ed0_20210831112505524,CE_85_7f680a31ff0c1ed0_20210831112505378,Santiago Del Estero,Avellaneda,Real Sayana,NaN,Vacasnioj Sur,NaN,NaN,NaN,NaN,NaN

In [13]:
df_dict['Respuestas']

,CodVisita,CodEntidad,Entidad,Seccion,Bloque,Pregunta,Respuesta
0,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Tipo de Documento,DNI
1,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Número de Documento,45659506
2,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Apellido,ARANDA
3,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Nombres,ALFIO NAHUEL
4,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Fecha de Nacimiento,2004-05-03 00:00:00
...,...,...,...,...,...,...,...
55729,CE_18_7f680a31ff0c1ed0_20210812134536389,ZZYE080227N76,ZURRIAN YESICA ANALIA,SALUD,NaN,¿Posee algún tipo de discapacidad?,NO
55730,CE_18_7f680a31ff0c1ed0_20210812134536389,ZZYE080227N76,ZURRIAN YESICA ANALIA,SALUD,NaN,(*) De estas dolencias ¿Cuáles son las más usu...,NINGUNA
55731,CE_18_7f680a31ff0c1ed0_20210812134536389,ZZYE080227N76,ZURRIAN YESICA ANALIA,SALUD,NaN,(*) ¿Suele enfermarse con frecuencia?,NO
55732,CE_18_7f680a31ff0c1ed0_20210812134536389,ZZYE080227N76,ZURRIAN YESICA ANALIA,SALUD,NaN,(*) ¿La persona se encuentra afectada por mal ...,NO
55733,CE_18_7f680a31ff0c1ed0_20210812134536389,ZZYE080227N76,ZURRIAN YESICA ANALIA,SALUD,NaN,¿Ha sido diagnosticado con COVID19?,NO

In [14]:
df_dict['Objetivo Parajes']

,Paraje,Municipio,Departamento,Cantidad de Familias,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Acequia Vieja,Herrera,Avellaneda,10.0,NaN,NaN,NaN,Municipio,NaN,NaN
1,Ashpa Sumaj / Paso Grande,Herrera,Avellaneda,68.0,NaN,NaN,NaN,Herrera,419.0,0.0
2,Ave María,Mailin,Avellaneda,8.0,NaN,NaN,NaN,Mailin,207.0,53.0
3,Blanca Pozo,Colonia Dora,Avellaneda,65.0,NaN,NaN,NaN,Colonia Dora,585.0,148.0
4,Bracho Laguna,Colonia Dora,Avellaneda,30.0,NaN,NaN,NaN,Punta Pozo,235.0,0.0
...,...,...,...,...,...,...,...,...,...,...
109,Ugulucho,Punta Pozo,Avellaneda,10.0,NaN,NaN,NaN,Vacasnioj Norte,NaN,NaN
110,Vacasnioj,Real Sayana,Avellaneda,NaN,NaN,NaN,NaN,Vacasnioj Sur,NaN,NaN
111,Vacasnioj Norte,Real Sayana,Avellaneda,40.0,NaN,NaN,NaN,Yacasnioj,NaN,NaN
112,Vacasnioj Sur,Real Sayana,Avellaneda,26.0,NaN,NaN,NaN,NaN,NaN,NaN
113,Yacasnioj,Icaño,Avellaneda,12.0,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df_dict['Hoja 5']

  1) Comparar que las personas en la pestaña PERSONAS y las personas en la pestaña RESPUESTAS coincidan
0  2) Que el conteo de personas coincida con las ...
1  3) Que las VISITAS coincidan con las visitas r...

In [16]:
df_dict['Hoja 7']

,CE_2_2888bcab266c4163_20210810121547444,2356.19,3,CE_2_2888bcab266c4163_20210810121547444.1,3.1,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,CE_2_6ef3f08dcfed8102_20210810105537282,9424.77,8.0,CE_2_6ef3f08dcfed8102_20210810105537282,8,NaN,NaN,CE_2_2888bcab266c4163_20210810121547444,2356.19,3.0,0.785397
1,CE_2_d6d3c7c6322ef318_20210810123541264,8835.72,5.0,CE_2_bee89e481616e55f_20210810121618086,4,NaN,NaN,CE_2_6ef3f08dcfed8102_20210810105537282,9424.77,8.0,1.178096
2,CE_3_bee89e481616e55f_20210810131527851,7853.98,2.0,CE_2_d6d3c7c6322ef318_20210810123541264,5,NaN,NaN,CE_2_d6d3c7c6322ef318_20210810123541264,8835.72,5.0,1.767144
3,CE_3_bee89e481616e55f_20210810131527851,7853.98,2.0,CE_3_2888bcab266c4163_20210810132952815,5,NaN,NaN,CE_3_bee89e481616e55f_20210810131527851,15707.96,2.0,7.853980
4,CE_4_2888bcab266c4163_20210810142927683,9424.77,8.0,CE_3_6ef3f08dcfed8102_20210810133327830,7,NaN,NaN,CE_4_2888bcab266c4163_20210810142927683,9424.77,8.0,1.178096
...,...,...,...,...,...,...,...,...,...,...,...
328,NaN,NaN,NaN,CE_89_7f680a31ff0c1ed0_20210831123150443,1,NaN,NaN,NaN,NaN,NaN,NaN
329,NaN,NaN,NaN,CE_91_7f680a31ff0c1ed0_20210901095315891,8,NaN,NaN,NaN,NaN,NaN,NaN
330,NaN,NaN,NaN,CE_92_7f680a31ff0c1ed0_20210901103159591,5,NaN,NaN,NaN,NaN,NaN,NaN
331,NaN,NaN,NaN,CE_93_7f680a31ff0c1ed0_20210901110454463,6,NaN,NaN,NaN,NaN,NaN,NaN
332,NaN,NaN,NaN,CE_94_7f680a31ff0c1ed0_20210901113010248,1,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
df_dict['Multimedias']

,CodVisita,CodEntidad,Entidad,TipoMultimedia,Archivo,Url
0,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
1,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
2,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
3,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
4,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
...,...,...,...,...,...,...
969,CE_72_7f680a31ff0c1ed0_20210826170633198,CV_309_7f680a31ff0c1ed0_20210826170633452,VIVIENDA,AUDIO,ce_72_7f680a31ff0c1ed0_20210826170633198_20210...,https://likechuckstorage.blob.core.windows.net...
970,CE_73_7f680a31ff0c1ed0_20210826173224945,CV_310_7f680a31ff0c1ed0_20210826173225108,VIVIENDA,AUDIO,ce_73_7f680a31ff0c1ed0_20210826173224945_20210...,https://likechuckstorage.blob.core.windows.net...
971,CE_73_7f680a31ff0c1ed0_20210826173224945,CV_310_7f680a31ff0c1ed0_20210826173225108,VIVIENDA,IMAGEN,img_default.jpg,https://likechuckstorage.blob.core.windows.net...
972,CE_73_7f680a31ff0c1ed0_20210826173224945,CV_310_7f680a31ff0c1ed0_20210826173225108,VIVIENDA,IMAGEN,fb5a433e-193d-40b1-9158-8d2f5b51ac4c_20210826_...,https://likechuckstorage.blob.core.windows.net...
973,CE_73_7f680a31ff0c1ed0_20210826173224945,CV_310_7f680a31ff0c1ed0_20210826173225108,VIVIENDA,IMAGEN,ba26a5cb-cea5-47c3-99b9-589218d2d86f_20210826_...,https://likechuckstorage.blob.core.windows.net...

In [19]:
### Preprocess data

In [20]:
# acá pasan cosas

In [ ]:
# limpieza y eso

In [21]:
### Save data to database

In [22]:
df_dict['Visitas'].to_sql("visitas", engine, index=False, if_exists="replace")

In [23]:
df_dict['Personas'].to_sql("personas", engine, index=False, if_exists="replace")

In [24]:
df_dict['Viviendas'].to_sql("viviendas", engine, index=False, if_exists="replace")

In [25]:
df_dict['Respuestas'].to_sql("respuestas", engine, index=False, if_exists="replace")

In [28]:
df_dict['Multimedias'].to_sql("multimedias", engine, index=False, if_exists="replace")

In [29]:
df_dict['Objetivo Parajes'].to_sql("objetivo_parajes", engine, index=False, if_exists="replace")

In [30]:
### Validate written tables

In [31]:
pd.read_sql("""
SELECT 
   table_name, 
   column_name, 
   data_type 
FROM 
   information_schema.columns
WHERE table_schema = 'public';
""", engine)

          table_name      column_name                    data_type
0   geometry_columns  f_table_catalog            character varying
1    spatial_ref_sys        auth_srid                      integer
2         respuestas        CodVisita                         text
3          viviendas       Unnamed: 7             double precision
4            visitas     FechaInicial  timestamp without time zone
..               ...              ...                          ...
65          personas    TipoDocumento                         text
66  geometry_columns   f_table_schema                         name
67       multimedias        CodVisita                         text
68          personas        Apellidos                         text
69           visitas            Alias                         text

[70 rows x 3 columns]