In [75]:
%%capture

!pip install openpyxl
!pip install psycopg2-binary
!pip install pyjanitor
!pip install geopandas
!pip install geoalchemy2
!pip install pandas-profiling

In [76]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import janitor
from datetime import datetime, date
import geopandas as gpd
from pandas_profiling import ProfileReport

# Load connection

In [4]:
engine = create_engine('postgresql://postgres:andy1234@database/postgres')

# accedo a DB por defecto

# Load data

In [5]:
filename = '../data/raw-data/Crudo relevamiento Programa de Agua.xlsx'

df_dict = pd.read_excel(filename, sheet_name = None)

# validar si realmente es el crudo, parece que hay varias celdas o tablas extras en cualquier lado

type(df_dict)

dict

In [6]:
list(df_dict)

['Visitas',
 'Personas',
 'Viviendas',
 'Respuestas',
 'Agua por vivienda',
 'Objetivo Parajes',
 'Auxiliar cant. personas',
 'Limpieza BBDD',
 'Correcci√≥n Cisternas']

# Validate data

In [7]:
df_dict['Visitas'].head()

,CodVisita,Alias,NombreVisita,FechaInicial,FechaFinal,EstadoEncuesta,Usuario,Longitud,Latitud,FechaSincronizacion,Paraje,Unnamed: 11,Unnamed: 12
0,CE_4_2888bcab266c4163_20210810142927683,ISF_0000120,#P RODRIGUEZ CONSULNIOJ,2021-08-10,2021-08-10,Completa,Gaston Guillermo Palavecino,-63.495243,-28.361573,2021-08-12,Konshulnioj,NaN,NaN
1,CE_7_2888bcab266c4163_20210812111325912,ISF_0000121,ROJAS STO DOMINGO,2021-08-12,2021-08-12,Completa,Gaston Guillermo Palavecino,-63.462808,-28.382137,2021-08-12,Santo Domingo,NaN,NaN
2,CE_8_2888bcab266c4163_20210812115911354,ISF_0000124,MONTES STO DOMINGO,2021-08-12,2021-08-12,Completa,Gaston Guillermo Palavecino,-63.468441,-28.385535,2021-08-12,Santo Domingo,NaN,NaN
3,CE_5_2888bcab266c4163_20210810152351710,ISF_0000126,GOMEZ STOCK DOMINGO,2021-08-10,2021-08-10,Completa,Gaston Guillermo Palavecino,-63.475096,-28.368429,2021-08-12,Santo Domingo,NaN,NaN
4,CE_11_2888bcab266c4163_20210818175509034,ISF_0000255,GOMEZ STO DOMINGO,2021-08-18,2021-08-18,Completa,Gaston Guillermo Palavecino,-63.468609,-28.386985,2021-08-20,Santo Domingo,NaN,NaN

In [8]:
df_dict['Personas'].head()

,CodVisita,CodPersona,Apellidos,Nombres,FechaNacimiento,Sexo,TipoDocumento,NroDocumento,Paraje,Edad
0,CE_10_2888bcab266c4163_20210818165450434,MMFA750215452,MONTES,FABIAN EMILIO,1975-02-15,MASCULINO,DNI,23733672.0,Santo Domingo,46
1,CE_10_6ef3f08dcfed8102_20210812151131799,GGIN990703HJ9,GOMZALEZ,MARIA IN√âS,1999-07-03,FEMENINO,DNI,45707916.0,Puente Negro,22
2,CE_10_7f680a31ff0c1ed0_20210810154359396,GGRU8009023A7,GUTIERREZ,RUBEN ANTONIO,1980-09-02,MASCULINO,DNI,27522977.0,Colonia Real Sur,41
3,CE_10_7f680a31ff0c1ed0_20210810154359396,GGTI150702C27,GUTIERREZ,TIARA AYELEN,2015-07-02,FEMENINO,DNI,54873222.0,Colonia Real Sur,6
4,CE_10_9949bf4d56b38ff1_20210824165052954,MMCA530220FK1,MIRANDA,CARLOS VICENTE,1953-02-20,MASCULINO,DNI,10453981.0,Bracho Laguna,68

In [9]:
df_dict['Viviendas'].head()

,CodVivienda,CodVisita,Provincia,Departamento,Municipio,Localidad,Paraje,EstadoEncuesta
0,CV_240_2888bcab266c4163_20210810132952940,CE_3_2888bcab266c4163_20210810132952815,Santiago Del Estero,Avellaneda,Lugones,NaN,Konshulnioj,Completa
1,CV_240_6ef3f08dcfed8102_20210810133327955,CE_3_6ef3f08dcfed8102_20210810133327830,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Puente Negro,Completa
2,CV_240_bee89e481616e55f_20210810131527918,CE_3_bee89e481616e55f_20210810131527851,Santiago Del Estero,Avellaneda,Lugones,NaN,Santo Domingo,Completa
3,CV_240_d4e4080243566731_20210817123520415,CE_3_d4e4080243566731_20210817123520220,Santiago Del Estero,Avellaneda,Real Sayana,NaN,Colonia Real Sur,Completa
4,CV_241_2888bcab266c4163_20210810142927806,CE_4_2888bcab266c4163_20210810142927683,Santiago Del Estero,Avellaneda,Lugones,NaN,Konshulnioj,Completa

In [10]:
df_dict['Respuestas'].head()

,CodVisita,CodEntidad,Entidad,Seccion,Bloque,Pregunta,Respuesta,Unnamed: 7
0,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Tipo de Documento,DNI,NaN
1,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) N√∫mero de Documento,45659506,NaN
2,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Apellido,ARANDA,NaN
3,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Nombres,ALFIO NAHUEL,NaN
4,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Fecha de Nacimiento,2004-05-03 00:00:00,NaN

In [11]:
df_dict['Objetivo Parajes'].head()

,Paraje,Municipio,Departamento,Cantidad de Familias,Km que recorre el cami√≥n cisterna,Latitud,Longitud,"Lat,Long"
0,Acequia Vieja,Colonia Dora,Avellaneda,10.0,20,#DIV/0!,#DIV/0!,NaN
1,Blanca Pozo,Colonia Dora,Avellaneda,65.0,44,#DIV/0!,#DIV/0!,NaN
2,Bracho Laguna,Colonia Dora,Avellaneda,33.0,15,-28.582358,-62.920095,"-28.58235775,-62.92009522"
3,Bracho Lujan,Colonia Dora,Avellaneda,40.0,30,#DIV/0!,#DIV/0!,NaN
4,Canal 3,Colonia Dora,Avellaneda,10.0,10,#DIV/0!,#DIV/0!,NaN

In [12]:
df_dict['Agua por vivienda'].head()

,CodVisita,Municipio,Estado,Cantidad personas,Cisterna1,Tapa1,P√©rdidas1,Cisterna2,Tapa2,P√©rdidas2,...,Longitud,Alias,Paraje,Relevador/a,Cisterna (si/no),Cisterna buen estado? (si/no),Red?,Personas declaradas,Unnamed: 21,Unnamed: 22
0,CE_4_2888bcab266c4163_20210810142927683,Lugones,Completa,7,9424.0,NO,S√ç,NaN,NaN,NaN,...,-63.495243,ISF_0000120,Konshulnioj,Gaston Guillermo Palavecino,CISTERNA,NaN,NaN,8,-28.361573,-63.495243
1,CE_7_2888bcab266c4163_20210812111325912,Lugones,Completa,4,NaN,NaN,NaN,NaN,NaN,NaN,...,-63.462808,ISF_0000121,Santo Domingo,Gaston Guillermo Palavecino,NaN,NaN,NaN,4,-28.382137,-63.462808
2,CE_8_2888bcab266c4163_20210812115911354,Lugones,Completa,8,NaN,NaN,NaN,NaN,NaN,NaN,...,-63.468441,ISF_0000124,Santo Domingo,Gaston Guillermo Palavecino,NaN,NaN,NaN,8,-28.385535,-63.468441
3,CE_5_2888bcab266c4163_20210810152351710,Lugones,Completa,14,NaN,NaN,NaN,NaN,NaN,NaN,...,-63.475096,ISF_0000126,Santo Domingo,Gaston Guillermo Palavecino,NaN,NaN,NaN,14,-28.368429,-63.475096
4,CE_11_2888bcab266c4163_20210818175509034,Lugones,Completa,4,NaN,NaN,NaN,NaN,NaN,NaN,...,-63.468609,ISF_0000255,Santo Domingo,Gaston Guillermo Palavecino,NaN,NaN,NaN,4,-28.386985,-63.468609

In [13]:
# df_dict['Hoja 5'].head()

In [14]:
# df_dict['Hoja 7'].head()

In [15]:
# df_dict['Multimedias'].head()

# Preprocess data

Ac√° pasan cosas. Limpieza y eso.

## Visitas

In [16]:
# df_dict['Visitas'].iloc[: , :10].head()

In [17]:
# df_dict['Visitas'].info()

In [18]:
df_dict['Visitas'] = df_dict['Visitas'].iloc[: , :10]
# me quedo con las primeras 10 columnas, las otras son issues de VLOOKUP()

In [19]:
crs = 'epsg:4326'

df_dict['Visitas_gpd'] = gpd.GeoDataFrame(df_dict['Visitas'],
                                      crs=crs,
                                      geometry=gpd.points_from_xy(df_dict['Visitas'].Longitud,
                                                                  df_dict['Visitas'].Latitud))
df_dict['Visitas_gpd'].head()

,CodVisita,Alias,NombreVisita,FechaInicial,FechaFinal,EstadoEncuesta,Usuario,Longitud,Latitud,FechaSincronizacion,geometry
0,CE_4_2888bcab266c4163_20210810142927683,ISF_0000120,#P RODRIGUEZ CONSULNIOJ,2021-08-10,2021-08-10,Completa,Gaston Guillermo Palavecino,-63.495243,-28.361573,2021-08-12,POINT (-63.49524 -28.36157)
1,CE_7_2888bcab266c4163_20210812111325912,ISF_0000121,ROJAS STO DOMINGO,2021-08-12,2021-08-12,Completa,Gaston Guillermo Palavecino,-63.462808,-28.382137,2021-08-12,POINT (-63.46281 -28.38214)
2,CE_8_2888bcab266c4163_20210812115911354,ISF_0000124,MONTES STO DOMINGO,2021-08-12,2021-08-12,Completa,Gaston Guillermo Palavecino,-63.468441,-28.385535,2021-08-12,POINT (-63.46844 -28.38554)
3,CE_5_2888bcab266c4163_20210810152351710,ISF_0000126,GOMEZ STOCK DOMINGO,2021-08-10,2021-08-10,Completa,Gaston Guillermo Palavecino,-63.475096,-28.368429,2021-08-12,POINT (-63.47510 -28.36843)
4,CE_11_2888bcab266c4163_20210818175509034,ISF_0000255,GOMEZ STO DOMINGO,2021-08-18,2021-08-18,Completa,Gaston Guillermo Palavecino,-63.468609,-28.386985,2021-08-20,POINT (-63.46861 -28.38698)

In [20]:
df_dict['Visitas_gpd'].info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CodVisita            1014 non-null   object
 1   Alias                1013 non-null   object
 2   NombreVisita         1014 non-null   object
 3   FechaInicial         1014 non-null   datetime64[ns]
 4   FechaFinal           1014 non-null   datetime64[ns]
 5   EstadoEncuesta       1014 non-null   object
 6   Usuario              1014 non-null   object
 7   Longitud             1002 non-null   float64
 8   Latitud              1002 non-null   float64
 9   FechaSincronizacion  1014 non-null   datetime64[ns]
 10  geometry             1014 non-null   geometry
dtypes: datetime64[ns](3), float64(2), geometry(1), object(5)
memory usage: 87.3+ KB

## Personas

In [21]:
# df_dict['Personas'].iloc[: , :8].head()

In [22]:
df_dict['Personas'] = df_dict['Personas'].iloc[: , :8]

In [23]:
df_dict['Personas'].shape

(3395, 8)

In [24]:
# df_dict['Personas'].info()

In [25]:
def age(born): 
    # born = datetime.strptime(born, "%d/%m/%Y").date() 
    today = date.today() 
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [26]:
df_dict['Personas']['Edad'] = df_dict['Personas']['FechaNacimiento'].apply(age)

In [27]:
# df_dict['Personas'].info()

In [28]:
df_dict['Personas'].head()

,CodVisita,CodPersona,Apellidos,Nombres,FechaNacimiento,Sexo,TipoDocumento,NroDocumento,Edad
0,CE_10_2888bcab266c4163_20210818165450434,MMFA750215452,MONTES,FABIAN EMILIO,1975-02-15,MASCULINO,DNI,23733672.0,46
1,CE_10_6ef3f08dcfed8102_20210812151131799,GGIN990703HJ9,GOMZALEZ,MARIA IN√âS,1999-07-03,FEMENINO,DNI,45707916.0,22
2,CE_10_7f680a31ff0c1ed0_20210810154359396,GGRU8009023A7,GUTIERREZ,RUBEN ANTONIO,1980-09-02,MASCULINO,DNI,27522977.0,41
3,CE_10_7f680a31ff0c1ed0_20210810154359396,GGTI150702C27,GUTIERREZ,TIARA AYELEN,2015-07-02,FEMENINO,DNI,54873222.0,6
4,CE_10_9949bf4d56b38ff1_20210824165052954,MMCA530220FK1,MIRANDA,CARLOS VICENTE,1953-02-20,MASCULINO,DNI,10453981.0,68

## Viviendas

In [29]:
# df_dict['Viviendas'].iloc[: , :8].head()

In [30]:
df_dict['Viviendas'] = df_dict['Viviendas'].iloc[: , :8]

In [31]:
df_dict['Viviendas'].shape

(1549, 8)

In [32]:
# df_dict['Viviendas'].info()

## Respuestas

In [33]:
# df_dict['Respuestas'].iloc[: , :7].head()

In [34]:
df_dict['Respuestas'] = df_dict['Respuestas'].iloc[: , :7]

In [35]:
# df_dict['Respuestas'].info()

In [36]:
# df_dict['Respuestas'].shape

In [37]:
# df_dict['Respuestas'].drop_duplicates().shape

In [38]:
# 100196-98559
# 1637 duplicados

In [39]:
df_dict['Respuestas'] = df_dict['Respuestas'].iloc[: , :7].drop_duplicates()

In [40]:
df_dict['Respuestas'].shape

(109647, 7)

In [41]:
# type(df_dict['Respuestas']['CodVisita'].unique())

In [42]:
# df_dict['Respuestas']['CodVisita'].unique().size

In [43]:
# df_dict['Respuestas']['CodEntidad'].unique().size

In [44]:
# df_dict['Respuestas']['Entidad'].unique().size

In [45]:
df_dict['Respuestas'][['CodVisita', 'CodEntidad', 'Entidad']].drop_duplicates().shape

(4596, 3)

In [46]:
df_dict['Respuestas'][['Seccion', 'Bloque','Pregunta']].drop_duplicates().shape

(293, 3)

In [47]:
# df_dict['Respuestas']['Pregunta'].value_counts()

In [48]:
df_dict['Respuestas'][['Seccion', 'Bloque','Pregunta']].value_counts()

Seccion                          Bloque              Pregunta
GRILLA - LLUVIA                  COD_BEBER           Lluvia      287
                                 COD_COCINAR         Lluvia      273
GRILLA - ALMACENAMIENTO DE AGUA  COD_LLUVIA          Tacho       234
GRILLA - SEQU√çA                  COD_BEBER           Cami√≥n      218
                                 COD_COCINAR         Cami√≥n      211
                                                                ...
                                 COD_OPC_167664      Lluvia        1
                                                     Represa       1
                                 COD_CULTIVO/HUERTA  Represa       1
GRILLA - LLUVIA                  COD_OPC_167664      Pozo          1
                                                     Represa       1
Length: 99, dtype: int64

In [49]:
# df_dict['Respuestas']['CodPregunta'] = df_dict['Respuestas']['Seccion'].map(str) + '_' + df_dict['Respuestas']['Bloque'].map(str) + '_' + df_dict['Respuestas']['Pregunta'].map(str)
# df_dict['Respuestas'].head()

In [50]:
(
    df_dict['Respuestas']
    .groupby(['CodVisita', 'CodEntidad', 'Entidad', 'Seccion', 'Bloque', 'Pregunta'])
    .count()
    .sort_values(by='Respuesta', ascending=False)
    ['Respuesta']
    .value_counts()
)

# 0 ser√≠an los NaN?
# 1 es lo que quiero
# 2 o m√°s es un pain. aprox 3000 valores de esos (3%)

0    5916
Name: Respuesta, dtype: int64

In [51]:
(
    df_dict['Respuestas']
    .groupby(['CodVisita', 'CodEntidad', 'Entidad', 'Seccion', 'Bloque', 'Pregunta'])
    .size()
    .reset_index(name='cantidad')
    .sort_values(by='cantidad', ascending=False)
#     .query('cantidad > 1')
#     .reset_index()
#     ['Pregunta']
#     .unique()
)

# conclusion: son varias las preguntas con m√∫ltiple respuesta

# posibilidad a evaluar: pasar a array con respuestas

,CodVisita,CodEntidad,Entidad,Seccion,Bloque,Pregunta,cantidad
0,CE_100_7f680a31ff0c1ed0_20210903103713025,CV_337_7f680a31ff0c1ed0_20210903103713179,VIVIENDA,GRILLA - ALMACENAMIENTO DE AGUA,COD_LLUVIA,Tacho,1
3941,CE_52_d6d3c7c6322ef318_20210827133144028,CV_289_d6d3c7c6322ef318_20210827133144186,VIVIENDA,GRILLA - ALMACENAMIENTO DE AGUA,COD_LLUVIA,Tacho,1
3950,CE_52_d6d3c7c6322ef318_20210827133144028,CV_289_d6d3c7c6322ef318_20210827133144186,VIVIENDA,GRILLA - LLUVIA,COD_OPC_183521,Canal o R√≠o,1
3949,CE_52_d6d3c7c6322ef318_20210827133144028,CV_289_d6d3c7c6322ef318_20210827133144186,VIVIENDA,GRILLA - LLUVIA,COD_LOCALIDAD_22985,Canal o R√≠o,1
3948,CE_52_d6d3c7c6322ef318_20210827133144028,CV_289_d6d3c7c6322ef318_20210827133144186,VIVIENDA,GRILLA - LLUVIA,COD_INODORO,Canal o R√≠o,1
...,...,...,...,...,...,...,...
1969,CE_25_d4e4080243566731_20210823134429396,CV_262_d4e4080243566731_20210823134429557,VIVIENDA,GRILLA - SEQU√çA,COD_LOCALIDAD_22985,Canal o R√≠o,1
1968,CE_25_d4e4080243566731_20210823134429396,CV_262_d4e4080243566731_20210823134429557,VIVIENDA,GRILLA - SEQU√çA,COD_COCINAR,Canal o R√≠o,1
1967,CE_25_d4e4080243566731_20210823134429396,CV_262_d4e4080243566731_20210823134429557,VIVIENDA,GRILLA - SEQU√çA,COD_BEBER,Canal o R√≠o,1
1966,CE_25_d4e4080243566731_20210823134429396,CV_262_d4e4080243566731_20210823134429557,VIVIENDA,GRILLA - SEQU√çA,COD_BANARSE,Canal o R√≠o,1
5915,CE_9_d6d3c7c6322ef318_20210812135950997,CV_246_d6d3c7c6322ef318_20210812135951211,VIVIENDA,GRILLA - SEQU√çA,COD_OPC_183521,Canal o R√≠o,1

In [52]:
# df_dict['Respuestas'].groupby(['CodVisita', 'CodEntidad', 'Entidad', 'CodPregunta']).count().columns

In [53]:
df_dict['Respuestas'].head()

,CodVisita,CodEntidad,Entidad,Seccion,Bloque,Pregunta,Respuesta
0,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Tipo de Documento,DNI
1,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) N√∫mero de Documento,45659506
2,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Apellido,ARANDA
3,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Nombres,ALFIO NAHUEL
4,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Fecha de Nacimiento,2004-05-03 00:00:00

In [54]:
maestro_preguntas = df_dict['Respuestas'][['Seccion', 'Bloque', 'Pregunta']].drop_duplicates().reset_index(level=0)
maestro_preguntas.head()

# type(maestro_preguntas)

   index           Seccion Bloque                 Pregunta
0      0  DATOS PERSONALES    NaN    (*) Tipo de Documento
1      1  DATOS PERSONALES    NaN  (*) N√∫mero de Documento
2      2  DATOS PERSONALES    NaN             (*) Apellido
3      3  DATOS PERSONALES    NaN              (*) Nombres
4      4  DATOS PERSONALES    NaN  (*) Fecha de Nacimiento

In [55]:
maestro_preguntas.shape

(293, 4)

In [56]:
maestro_preguntas['index'] = maestro_preguntas.index
maestro_preguntas.head()

   index           Seccion Bloque                 Pregunta
0      0  DATOS PERSONALES    NaN    (*) Tipo de Documento
1      1  DATOS PERSONALES    NaN  (*) N√∫mero de Documento
2      2  DATOS PERSONALES    NaN             (*) Apellido
3      3  DATOS PERSONALES    NaN              (*) Nombres
4      4  DATOS PERSONALES    NaN  (*) Fecha de Nacimiento

In [57]:
maestro_preguntas.rename(columns={'index': 'IdPregunta'}, inplace=True)
maestro_preguntas.head()

   IdPregunta           Seccion Bloque                 Pregunta
0           0  DATOS PERSONALES    NaN    (*) Tipo de Documento
1           1  DATOS PERSONALES    NaN  (*) N√∫mero de Documento
2           2  DATOS PERSONALES    NaN             (*) Apellido
3           3  DATOS PERSONALES    NaN              (*) Nombres
4           4  DATOS PERSONALES    NaN  (*) Fecha de Nacimiento

In [58]:
maestro_preguntas['IdPreguntaName'] = 'pregunta_' + maestro_preguntas['IdPregunta'].astype(str)
maestro_preguntas.head()

   IdPregunta           Seccion Bloque                 Pregunta IdPreguntaName
0           0  DATOS PERSONALES    NaN    (*) Tipo de Documento     pregunta_0
1           1  DATOS PERSONALES    NaN  (*) N√∫mero de Documento     pregunta_1
2           2  DATOS PERSONALES    NaN             (*) Apellido     pregunta_2
3           3  DATOS PERSONALES    NaN              (*) Nombres     pregunta_3
4           4  DATOS PERSONALES    NaN  (*) Fecha de Nacimiento     pregunta_4

In [59]:
respuestas = (
    df_dict['Respuestas']
    .merge(maestro_preguntas, how='left', on=['Seccion', 'Bloque', 'Pregunta'])
    .drop(['Seccion', 'Bloque', 'Pregunta'], axis=1)
)
respuestas.head()

,CodVisita,CodEntidad,Entidad,Respuesta,IdPregunta,IdPreguntaName
0,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DNI,0,pregunta_0
1,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,45659506,1,pregunta_1
2,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,ARANDA,2,pregunta_2
3,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,ALFIO NAHUEL,3,pregunta_3
4,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,2004-05-03 00:00:00,4,pregunta_4

In [60]:
(
    maestro_preguntas
    [['IdPregunta','IdPreguntaName']]
    .drop_duplicates()
    .value_counts()
)

IdPregunta  IdPreguntaName
0           pregunta_0        1
184         pregunta_184      1
200         pregunta_200      1
199         pregunta_199      1
198         pregunta_198      1
                             ..
97          pregunta_97       1
96          pregunta_96       1
95          pregunta_95       1
94          pregunta_94       1
292         pregunta_292      1
Length: 293, dtype: int64

In [61]:
(
    respuestas
    [['IdPregunta','IdPreguntaName']]
    .drop_duplicates()
    .value_counts()
)

IdPregunta  IdPreguntaName
0           pregunta_0        1
184         pregunta_184      1
200         pregunta_200      1
199         pregunta_199      1
198         pregunta_198      1
                             ..
97          pregunta_97       1
96          pregunta_96       1
95          pregunta_95       1
94          pregunta_94       1
292         pregunta_292      1
Length: 293, dtype: int64

In [62]:
# respuestas['IdPregunta'].unique()

In [63]:
respuestas.shape

(109647, 6)

In [64]:
respuestas_array = (
    respuestas
    .groupby(['CodVisita', 'CodEntidad', 'Entidad', 'IdPregunta', 'IdPreguntaName'])
    .agg(lambda x: list(set(x)))
    .reset_index()
)
respuestas_array.head()

# .drop(['Seccion', 'Bloque', 'Pregunta'], axis=1)
# con esto paso a arrays

,CodVisita,CodEntidad,Entidad,IdPregunta,IdPreguntaName,Respuesta
0,CE_100_2888bcab266c4163_20211007172358497,AAMA390602Q92,ANRIQUEZ MARCELINO,0,pregunta_0,[DNI]
1,CE_100_2888bcab266c4163_20211007172358497,AAMA390602Q92,ANRIQUEZ MARCELINO,1,pregunta_1,[7113912]
2,CE_100_2888bcab266c4163_20211007172358497,AAMA390602Q92,ANRIQUEZ MARCELINO,2,pregunta_2,[ANRIQUEZ]
3,CE_100_2888bcab266c4163_20211007172358497,AAMA390602Q92,ANRIQUEZ MARCELINO,3,pregunta_3,[MARCELINO]
4,CE_100_2888bcab266c4163_20211007172358497,AAMA390602Q92,ANRIQUEZ MARCELINO,4,pregunta_4,[1939-06-02 00:00:00]

In [65]:
# respuestas_array.info()

In [66]:
(
    respuestas_array
    .groupby(['CodVisita', 'CodEntidad', 'Entidad', 'IdPregunta', 'IdPreguntaName'])
    .size()
    .reset_index(name='cantidad')
    .sort_values(by='cantidad', ascending=False)
    .head()
)

# valido que no hay duplicados y que ['CodVisita', 'CodEntidad', 'Entidad', 'IdPregunta', 'IdPreguntaName'] es PK compuesta

,CodVisita,CodEntidad,Entidad,IdPregunta,IdPreguntaName,cantidad
0,CE_100_2888bcab266c4163_20211007172358497,AAMA390602Q92,ANRIQUEZ MARCELINO,0,pregunta_0,1
68940,CE_50_bee89e481616e55f_20210828164318412,CV_287_bee89e481616e55f_20210828164318474,VIVIENDA,21,pregunta_21,1
68950,CE_50_bee89e481616e55f_20210828164318412,CV_287_bee89e481616e55f_20210828164318474,VIVIENDA,32,pregunta_32,1
68949,CE_50_bee89e481616e55f_20210828164318412,CV_287_bee89e481616e55f_20210828164318474,VIVIENDA,31,pregunta_31,1
68948,CE_50_bee89e481616e55f_20210828164318412,CV_287_bee89e481616e55f_20210828164318474,VIVIENDA,30,pregunta_30,1

In [67]:
respuestas_pivoted = (
    respuestas_array
    .drop(['IdPregunta'], axis=1)
    .pivot(index=['CodVisita', 'CodEntidad', 'Entidad'], columns='IdPreguntaName', values='Respuesta')
)

respuestas_pivoted.head()

IdPreguntaName                                                                                            pregunta_0  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO         [DNI]
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL      [DNI]
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                     NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA       [DNI]
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA             [DNI]

IdPreguntaName                                                                                             pregunta_1  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO      [7113912]
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL  [22424173]
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA    [5403898]
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA         [23294698]

IdPreguntaName                                                                                            pregunta_10  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO            NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL         NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA          NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA          [NINGUNA]

IdPreguntaName                                                                                            pregunta_100  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO             NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL          NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                       [2]
                                          MMSA450529SD9                             MORENO SARA ANGELICA           NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                 NaN

IdPreguntaName                                                                                            pregunta_101  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO             NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL          NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                    [2261]
                                          MMSA450529SD9                             MORENO SARA ANGELICA           NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                 NaN

IdPreguntaName                                                                                            pregunta_102  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO             NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL          NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      [NO]
                                          MMSA450529SD9                             MORENO SARA ANGELICA           NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                 NaN

IdPreguntaName                                                                                            pregunta_103  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO             NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL          NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      [S√ç]
                                          MMSA450529SD9                             MORENO SARA ANGELICA           NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                 NaN

IdPreguntaName                                                                                            pregunta_104  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO             NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL          NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      [NO]
                                          MMSA450529SD9                             MORENO SARA ANGELICA           NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                 NaN

IdPreguntaName                                                                                            pregunta_105  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO             NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL          NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                       NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA           NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                 NaN

IdPreguntaName                                                                                            pregunta_106  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO             NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL          NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                       NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA           NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                 NaN

IdPreguntaName                                                                                             ...  \
CodVisita                                 CodEntidad                                Entidad                ...
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO     ...
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL  ...
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA               ...
                                          MMSA450529SD9                             MORENO SARA ANGELICA   ...
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA         ...

IdPreguntaName                                                                                            pregunta_90  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO            NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL         NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA          NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                NaN

IdPreguntaName                                                                                            pregunta_91  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO            NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL         NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA          NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                NaN

IdPreguntaName                                                                                            pregunta_92  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO            NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL         NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA          NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                NaN

IdPreguntaName                                                                                            pregunta_93  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO            NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL         NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA          NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                NaN

IdPreguntaName                                                                                            pregunta_94  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO            NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL         NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA          NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                NaN

IdPreguntaName                                                                                            pregunta_95  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO            NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL         NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA          NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                NaN

IdPreguntaName                                                                                            pregunta_96  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO            NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL         NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA          NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                NaN

IdPreguntaName                                                                                                    pregunta_97  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO                    NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL                 NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA               [AUTOCONSTRUCCI√ìN]
                                          MMSA450529SD9                             MORENO SARA ANGELICA                  NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                        NaN

IdPreguntaName                                                                                            pregunta_98  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO            NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL         NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA               [CIRCULAR]
                                          MMSA450529SD9                             MORENO SARA ANGELICA          NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                NaN

IdPreguntaName                                                                                                       pregunta_99
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO                       NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL                    NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA               [2021-02-01 00:00:00]
                                          MMSA450529SD9                             MORENO SARA ANGELICA                     NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                           NaN

[5 rows x 293 columns]

In [68]:
respuestas_pivoted = respuestas_pivoted[maestro_preguntas['IdPreguntaName']]
respuestas_pivoted

IdPreguntaName                                                                                             pregunta_0  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO          [DNI]
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL       [DNI]
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA        [DNI]
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA              [DNI]
...                                                                                                               ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL          [DNI]
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                      NaN
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO      [DNI]
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                      NaN
                                          GGJO591101JA8                             GOMEZ JOSE MARIA            [DNI]

IdPreguntaName                                                                                              pregunta_1  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO       [7113912]
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL   [22424173]
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                       NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA     [5403898]
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA          [23294698]
...                                                                                                                ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL      [12422973]
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                       NaN
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO  [10022131]
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                       NaN
                                          GGJO591101JA8                             GOMEZ JOSE MARIA        [13578434]

IdPreguntaName                                                                                               pregunta_2  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO       [ANRIQUEZ]
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL    [ANRIQUEZ]
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                        NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA       [MORENO]
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA            [CASTA√ëO]
...                                                                                                                 ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL          [VERON]
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                        NaN
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO  [MALDONADO]
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                        NaN
                                          GGJO591101JA8                             GOMEZ JOSE MARIA            [GOMEZ]

IdPreguntaName                                                                                                   pregunta_3  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO          [MARCELINO]
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL    [SERGIO ARIEL]
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                            NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA    [SARA ANGELICA]
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                 [ROXANA]
...                                                                                                                     ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL       [BLANCA MABEL]
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                            NaN
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO   [JUAN EDUARDO]
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                            NaN
                                          GGJO591101JA8                             GOMEZ JOSE MARIA           [JOSE MARIA]

IdPreguntaName                                                                                                         pregunta_4  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO      [1939-06-02 00:00:00]
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL   [1971-09-30 00:00:00]
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                                  NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA    [1945-05-29 00:00:00]
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA          [1973-07-10 00:00:00]
...                                                                                                                           ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL      [1958-10-28 00:00:00]
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                                  NaN
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO  [1951-10-25 00:00:00]
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                                  NaN
                                          GGJO591101JA8                             GOMEZ JOSE MARIA        [1959-11-01 00:00:00]

IdPreguntaName                                                                                             pregunta_5  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO           [82]
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL        [50]
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA         [76]
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA               [48]
...                                                                                                               ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL           [62]
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                      NaN
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO       [69]
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                      NaN
                                          GGJO591101JA8                             GOMEZ JOSE MARIA             [61]

IdPreguntaName                                                                                               pregunta_6  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO      [MASCULINO]
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL   [MASCULINO]
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                        NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA     [FEMENINO]
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA           [FEMENINO]
...                                                                                                                 ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL       [FEMENINO]
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                        NaN
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO  [MASCULINO]
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                        NaN
                                          GGJO591101JA8                             GOMEZ JOSE MARIA        [MASCULINO]

IdPreguntaName                                                                                             pregunta_7  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO            NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL         NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA          NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA               [S√ç]
...                                                                                                               ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL           [NO]
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                      NaN
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO       [S√ç]
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                      NaN
                                          GGJO591101JA8                             GOMEZ JOSE MARIA             [S√ç]

IdPreguntaName                                                                                                                 pregunta_8  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO              [PRIMARIO INCOMPLETO]
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL             [PRIMARIO COMPLETO]
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                                          NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA            [PRIMARIO INCOMPLETO]
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                    [PRIMARIO COMPLETO]
...                                                                                                                                   ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL                [PRIMARIO COMPLETO]
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                                          NaN
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO          [PRIMARIO INCOMPLETO]
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                                          NaN
                                          GGJO591101JA8                             GOMEZ JOSE MARIA        [TERCIARIO/SUPERIOR COMPLETO]

IdPreguntaName                                                                                             pregunta_9  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO            NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL         NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      NaN
                                          MMSA450529SD9                             MORENO SARA ANGELICA          NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA               [NO]
...                                                                                                               ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL           [NO]
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                      NaN
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO       [NO]
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                      NaN
                                          GGJO591101JA8                             GOMEZ JOSE MARIA             [NO]

IdPreguntaName                                                                                              ...  \
CodVisita                                 CodEntidad                                Entidad                 ...
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO      ...
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL   ...
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                ...
                                          MMSA450529SD9                             MORENO SARA ANGELICA    ...
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA          ...
...                                                                                                         ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL      ...
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                ...
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO  ...
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                ...
                                          GGJO591101JA8                             GOMEZ JOSE MARIA        ...

IdPreguntaName                                                                                             pregunta_283  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO              NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL           NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                      [nan]
                                          MMSA450529SD9                             MORENO SARA ANGELICA            NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                  NaN
...                                                                                                                 ...
CE_9_bee89e481616e55f_20210816163910215   VVBL5810286C0                             VERON BLANCA MABEL              NaN
CE_9_d4e4080243566731_20210817155652633   CV_246_d4e4080243566731_20210817155652787 VIVIENDA                        NaN
                                          MMJU511025NG5                             MALDONADO JUAN EDUARDO          NaN
CE_9_d6d3c7c6322ef318_20210812135950997   CV_246_d6d3c7c6322ef318_20210812135951211 VIVIENDA                        NaN
                                          GGJO591101JA8                             GOMEZ JOSE MARIA                NaN

IdPreguntaName                                                                                                                                   pregunta_284  \
CodVisita                                 CodEntidad                                Entidad
CE_100_2888bcab266c4163_20211007172358497 AAMA390602Q92                             ANRIQUEZ MARCELINO                                                    NaN
                                          AASE710930DP6                             ANRIQUEZ SERGIO ARIEL                                                 NaN
                                          CV_337_2888bcab266c4163_20211007172358630 VIVIENDA                [DIABETES, PROBLEMAS RESPIRATORIOS, PROBLEMAS ...
                                          MMSA450529SD9                             MORENO SARA ANGELICA                                                  NaN
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTA√ëO ROXANA                                                        NaN
...                                                                                                                                                       ...

In [69]:
respuestas_pivoted.shape

(4236, 293)

In [70]:
respuestas_pivoted = respuestas_pivoted.reset_index()
respuestas_pivoted.head()

IdPreguntaName,CodVisita,CodEntidad,Entidad,pregunta_0,pregunta_1,pregunta_2,pregunta_3,pregunta_4,pregunta_5,pregunta_6,...,pregunta_283,pregunta_284,pregunta_285,pregunta_286,pregunta_287,pregunta_288,pregunta_289,pregunta_290,pregunta_291,pregunta_292
0,CE_100_2888bcab266c4163_20211007172358497,AAMA390602Q92,ANRIQUEZ MARCELINO,[DNI],[7113912],[ANRIQUEZ],[MARCELINO],[1939-06-02 00:00:00],[82],[MASCULINO],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CE_100_2888bcab266c4163_20211007172358497,AASE710930DP6,ANRIQUEZ SERGIO ARIEL,[DNI],[22424173],[ANRIQUEZ],[SERGIO ARIEL],[1971-09-30 00:00:00],[50],[MASCULINO],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[nan],"[DIABETES, PROBLEMAS RESPIRATORIOS, PROBLEMAS ...",[nan],[nan],[1],NaN,NaN,NaN,NaN,NaN
3,CE_100_2888bcab266c4163_20211007172358497,MMSA450529SD9,MORENO SARA ANGELICA,[DNI],[5403898],[MORENO],[SARA ANGELICA],[1945-05-29 00:00:00],[76],[FEMENINO],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,CE_100_7f680a31ff0c1ed0_20210903103713025,CCRO7307105F8,CASTA√ëO ROXANA,[DNI],[23294698],[CASTA√ëO],[ROXANA],[1973-07-10 00:00:00],[48],[FEMENINO],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
respuestas_pivoted.shape

(4236, 296)

In [72]:
(
    respuestas_pivoted
    ['Entidad']
    .value_counts()
)

VIVIENDA                          835
TULIS SANTIAGO                      3
CORONEL EDGAR RAIMUNDO ENRIQUE      2
PAZ ARIANA MARISOL                  2
CORIA JUAN CARLOS                   2
                                 ...
LAMI VALENTINA DANIELA              1
GONZALEZ NORMA YANET                1
ZARATE JULIA ELENA                  1
PALAVECINO OSMAR                    1
GOROSITO MARIANELA JAZMN            1
Name: Entidad, Length: 3385, dtype: int64

In [73]:
(
    respuestas_pivoted
    ['Entidad']
    .unique()
    .size
)

3385

In [74]:
respuestas_pivoted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4236 entries, 0 to 4235
Columns: 296 entries, CodVisita to pregunta_292
dtypes: object(296)
memory usage: 9.6+ MB

In [84]:
prof = ProfileReport(respuestas_pivoted)
# prof

In [80]:
prof.to_file(output_file='../profiling/respuestas_pivoted.html')

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [85]:
respuestas_vivienda = (
    respuestas_pivoted
    .query('Entidad == "VIVIENDA"')
)

respuestas_vivienda.head()

IdPreguntaName,CodVisita,CodEntidad,Entidad,pregunta_0,pregunta_1,pregunta_2,pregunta_3,pregunta_4,pregunta_5,pregunta_6,...,pregunta_283,pregunta_284,pregunta_285,pregunta_286,pregunta_287,pregunta_288,pregunta_289,pregunta_290,pregunta_291,pregunta_292
2,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[nan],"[DIABETES, PROBLEMAS RESPIRATORIOS, PROBLEMAS ...",[nan],[nan],[1],NaN,NaN,NaN,NaN,NaN
5,CE_100_7f680a31ff0c1ed0_20210903103713025,CV_337_7f680a31ff0c1ed0_20210903103713179,VIVIENDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,CE_100_ac7920cfe82b271a_20210908173240427,CV_337_ac7920cfe82b271a_20210908173240618,VIVIENDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[nan],[NINGUNO],[nan],[nan],NaN,[7],[200],[S√ç],NaN,NaN
17,CE_100_bee89e481616e55f_20210914144014566,CV_337_bee89e481616e55f_20210914144014641,VIVIENDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[nan],[NINGUNO],[nan],[nan],[1],NaN,NaN,NaN,NaN,NaN
19,CE_100_d6d3c7c6322ef318_20210913154247522,CV_337_d6d3c7c6322ef318_20210913154247782,VIVIENDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[nan],[PROBLEMAS DE PRESI√ìN / CORAZ√ìN],[nan],[nan],[1],NaN,NaN,NaN,NaN,NaN

In [88]:
maestro_preguntas[maestro_preguntas['IdPregunta'] == 284]['Pregunta']

284    (*) ¬øAlguno de los integrantes de la vivienda ...
Name: Pregunta, dtype: object

## Objetivo Parajes

In [73]:
# df_dict['Objetivo Parajes'].iloc[: , :5].head().clean_names()
# aqu√≠ querr√≠a pasarle el par√°metro case="upper_camel" para mantener el estilo con el resto de las tablas

In [74]:
df_dict['Objetivo Parajes'] = (
    df_dict['Objetivo Parajes']
    .iloc[: , :5]
    .clean_names()
)
# aplico clean_names() para quitar espacios en nombres de columnas
df_dict['Objetivo Parajes'].head()

,paraje,municipio,departamento,cantidad_de_familias,km_que_recorre_el_camion_cisterna
0,Acequia Vieja,Colonia Dora,Avellaneda,10.0,20
1,Blanca Pozo,Colonia Dora,Avellaneda,65.0,44
2,Bracho Laguna,Colonia Dora,Avellaneda,33.0,15
3,Bracho Lujan,Colonia Dora,Avellaneda,40.0,30
4,Canal 3,Colonia Dora,Avellaneda,10.0,10

# Save data to database

In [75]:
# df_dict['Visitas_gpd'].head()
#df_dict['Personas'].head()
# df_dict['Viviendas'].head()
# respuestas.head()
# respuestas_array.head()
# respuestas_pivoted.head()

In [76]:
df_dict['Visitas_gpd'].to_postgis("visitas", engine, index=False, if_exists="replace")

# escribo el geodatafram que incluye la geometry

In [77]:
df_dict['Personas'].to_sql("personas", engine, index=False, if_exists="replace")

In [78]:
df_dict['Viviendas'].to_sql("viviendas", engine, index=False, if_exists="replace")

In [79]:
respuestas.to_sql("respuestas", engine, index=False, if_exists="replace")

In [80]:
respuestas_array.to_sql("respuestas_array", engine, index=False, if_exists="replace")

In [81]:
respuestas_pivoted.to_sql("respuestas_pivoted", engine, index=False, if_exists="replace")
# los campos de lista los escribe como texto, no como tipo array[]

In [85]:
maestro_preguntas.to_sql("maestro_preguntas", engine, index=False, if_exists="replace")

In [82]:
# df_dict['Multimedias'].to_sql("multimedias", engine, index=False, if_exists="replace")

In [83]:
df_dict['Objetivo Parajes'].to_sql("objetivo_parajes", engine, index=False, if_exists="replace")

# Validate written tables

In [84]:
pd.read_sql("""
SELECT 
   table_name, 
   column_name, 
   data_type 
FROM 
   information_schema.columns
WHERE table_schema = 'public';
""", engine)

             table_name      column_name          data_type
0            respuestas          Entidad               text
1    respuestas_pivoted     pregunta_103               text
2               visitas          Usuario               text
3      geometry_columns  f_table_catalog  character varying
4    respuestas_pivoted     pregunta_217               text
..                  ...              ...                ...
355  respuestas_pivoted     pregunta_110               text
356  respuestas_pivoted     pregunta_183               text
357  respuestas_pivoted     pregunta_113               text
358  respuestas_pivoted     pregunta_181               text
359    objetivo_parajes           paraje               text

[360 rows x 3 columns]

# Dudas y consultas

* ...