In [1]:
%%capture

!pip install openpyxl
!pip install psycopg2-binary
!pip install pyjanitor

In [2]:
import pandas as pd
# import numpy as np
from sqlalchemy import create_engine
import janitor

In [3]:
### Load connection

In [4]:
engine = create_engine('postgresql://postgres:andy1234@database/postgres')

# accedo a DB por defecto

In [5]:
### Load data

In [6]:
filename = '../data/raw-data/Crudo relevamiento Programa de Agua.xlsx'

df_dict = pd.read_excel(filename, sheet_name = None)

# validar si realmente es el crudo, parece que hay varias celdas o tablas extras en cualquier lado

In [7]:
type(df_dict)

dict

In [8]:
list(df_dict)

['Visitas',
 'Personas',
 'Viviendas',
 'Respuestas',
 'Limpieza BBDD',
 'Agua por vivienda',
 'Multimedias',
 'Objetivo Parajes',
 'Hoja 11',
 'Hoja 5',
 'Hoja 7',
 'Hoja 12']

In [9]:
### Validate data

In [10]:
df_dict['Visitas']

,CodVisita,Alias,NombreVisita,FechaInicial,FechaFinal,EstadoEncuesta,Usuario,Longitud,Latitud,FechaSincronizacion,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,CE_4_bee89e481616e55f_20210810152417162,ISF_0000095,"GÓMEZ ABEL,SANTO DOMINGO",2021-08-10,2021-08-10,Completa,Sergio Gonzalo Escalada,-63.475026,-28.372053,2021-08-11,Santo Domingo,NaN,NaN
1,CE_16_bee89e481616e55f_20210817163803849,ISF_0000185,"GODOY ELVIO, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.339625,-28.590347,2021-08-18,Breayoj,NaN,NaN
2,CE_17_bee89e481616e55f_20210817170755564,ISF_0000186,"GODOY JORGE, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.340298,-28.588724,2021-08-18,Breayoj,NaN,NaN
3,CE_18_bee89e481616e55f_20210817175728056,ISF_0000187,"GODOY ARMINDO, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.335112,-28.588142,2021-08-18,Breayoj,NaN,NaN
4,CE_21_bee89e481616e55f_20210818154802048,ISF_0000189,"ESCALADA SERGIO, BREAYOJ",2021-08-18,2021-08-18,Completa,Sergio Gonzalo Escalada,-63.328342,-28.589867,2021-08-18,Breayoj,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
929,CE_116_d6d3c7c6322ef318_20210923170314556,ISFAR2_0000339,GONZÁLEZ RAÚL A._LA COSTA,2021-09-23,2021-09-23,Completa,Roberto Carlos Mansilla,-62.827476,-28.633554,2021-09-23,La Costa,NaN,NaN
930,CE_119_d6d3c7c6322ef318_20210923181119761,ISFAR2_0000341,LOAIZA DANIEL -LA COSTA,2021-09-23,2021-09-24,Completa,Roberto Carlos Mansilla,-62.842599,-28.646278,2021-09-27,La Costa,NaN,NaN
931,CE_122_d6d3c7c6322ef318_20210924150247399,ISFAR2_0000389,BARRETO MARINA L._LA COSTA,2021-09-24,2021-09-24,Completa,Roberto Carlos Mansilla,-62.836236,-28.639799,2021-09-27,La Costa,NaN,NaN
932,CE_132_d6d3c7c6322ef318_20210928175024384,ISFAR2_0000417,SALVATIERRA NORMA B._LA COSTA,2021-09-28,2021-09-28,Completa,Roberto Carlos Mansilla,-62.816368,-28.632438,2021-09-28,La Costa,NaN,NaN
933,CE_136_d6d3c7c6322ef318_20210930141637714,ISFAR2_0000464,CUEVAS ROSALIA_ LA COSTA,2021-09-30,2021-09-30,Completa,Roberto Carlos Mansilla,-62.873610,-28.633976,2021-09-30,La Costa,NaN,NaN

In [11]:
df_dict['Personas']

,CodVisita,CodPersona,Apellidos,Nombres,FechaNacimiento,Sexo,TipoDocumento,NroDocumento,Paraje,Edad
0,CE_10_6ef3f08dcfed8102_20210812151131799,GGBI060818CF2,GONZALEZ,BIANCA SOLEDAD,2006-08-18,FEMENINO,DNI,47502907.0,Puente Negro,15
1,CE_10_6ef3f08dcfed8102_20210812151131799,GGRU020922J38,GONZALEZ,JOSE RUBEN,2002-09-22,MASCULINO,DNI,44313854.0,Puente Negro,19
2,CE_10_6ef3f08dcfed8102_20210812151131799,GGTA100810DH3,GONZALEZ,TANIA JASMIN,2010-08-10,FEMENINO,DNI,50410198.0,Puente Negro,11
3,CE_10_ac7920cfe82b271a_20210812093233774,LLJO190213P99,LEIVA LOBATO,JOSUE DYLAN,2019-02-13,MASCULINO,DNI,57957237.0,Colonia Real Sur,2
4,CE_10_ac7920cfe82b271a_20210812093233774,LLVI110906QD6,LEIVA LOBATO,VICTORIANO JONAS,2011-09-06,MASCULINO,DNI,51088498.0,Colonia Real Sur,10
...,...,...,...,...,...,...,...,...,...,...
3117,CE_98_6ef3f08dcfed8102_20210930125114629,GGER8212308T5,GEREZ,ERICA RUTH,1982-12-30,FEMENINO,DNI,29727923.0,La Costa,38
3118,CE_99_ac7920cfe82b271a_20210908170142796,GGNO7009238H0,GOMEZ,NORMA NINI,1970-09-23,FEMENINO,DNI,18689931.0,Navicha,51
3119,CE_99_bee89e481616e55f_20210914131112429,PPER601203SK2,PALAVECINO,ERNESTO RAFAEL,1960-12-03,MASCULINO,DNI,14259815.0,Tio Alto,60
3120,CE_99_d6d3c7c6322ef318_20210913143612065,GGLU580622570,GONZALEZ,LUISA ARMINDA,1958-06-22,FEMENINO,DNI,14280236.0,La Costa,63
3121,CE_99_d6d3c7c6322ef318_20210913143612065,ZZAD590315A60,ZALAZAR,ADRIAN,1959-03-15,MASCULINO,DNI,13716004.0,La Costa,62

In [12]:
df_dict['Viviendas']

,CodVivienda,CodVisita,Provincia,Departamento,Municipio,Localidad,Paraje,EstadoEncuesta,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,CV_240_2888bcab266c4163_20210810132952940,CE_3_2888bcab266c4163_20210810132952815,Santiago Del Estero,Avellaneda,Lugones,NaN,Konshulnioj,Completa,NaN,0.0,Konshulnioj,Konshulnioj
1,CV_240_6ef3f08dcfed8102_20210810133327955,CE_3_6ef3f08dcfed8102_20210810133327830,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Puente Negro,Completa,NaN,0.0,Puente Negro,Puente Negro
2,CV_240_bee89e481616e55f_20210810131527918,CE_3_bee89e481616e55f_20210810131527851,Santiago Del Estero,Avellaneda,Lugones,NaN,Santo Domingo,Completa,NaN,0.0,Santo Domingo,Santo Domingo
3,CV_240_d4e4080243566731_20210817123520415,CE_3_d4e4080243566731_20210817123520220,Santiago Del Estero,Avellaneda,Real Sayana,NaN,Colonia Real Sur,Completa,NaN,0.0,Colonia Real Sur,Colonia Real Sur
4,CV_241_2888bcab266c4163_20210810142927806,CE_4_2888bcab266c4163_20210810142927683,Santiago Del Estero,Avellaneda,Lugones,NaN,Konshulnioj,Completa,NaN,0.0,Bracho Laguna,Bracho Laguna
...,...,...,...,...,...,...,...,...,...,...,...,...
929,CV_398_7f680a31ff0c1ed0_20210922094221445,CE_161_7f680a31ff0c1ed0_20210922094221166,Santiago Del Estero,Avellaneda,Icaño,NaN,Yacasnioj,Completa,NaN,NaN,NaN,NaN
930,CV_407_ac7920cfe82b271a_20210929101047890,CE_170_ac7920cfe82b271a_20210929101047709,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Colonia Alcira / El 20,Completa,NaN,NaN,NaN,NaN
931,CV_410_ac7920cfe82b271a_20210929113024572,CE_173_ac7920cfe82b271a_20210929113024370,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Colonia Alcira / El 20,Completa,NaN,NaN,NaN,NaN
932,CV_416_ac7920cfe82b271a_20210930110753021,CE_179_ac7920cfe82b271a_20210930110752862,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Colonia Alcira / El 20,Imposibilitada,NaN,NaN,NaN,NaN
933,CV_418_ac7920cfe82b271a_20210930115135642,CE_181_ac7920cfe82b271a_20210930115135469,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Colonia Alcira / El 20,Completa,NaN,NaN,NaN,NaN

In [13]:
df_dict['Respuestas']

,CodVisita,CodEntidad,Entidad,Seccion,Bloque,Pregunta,Respuesta,Unnamed: 7
0,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Tipo de Documento,DNI,NaN
1,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Número de Documento,45659506,NaN
2,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Apellido,ARANDA,NaN
3,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Nombres,ALFIO NAHUEL,NaN
4,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Fecha de Nacimiento,2004-05-03 00:00:00,NaN
...,...,...,...,...,...,...,...,...
100191,CE_136_bee89e481616e55f_20210925153852511,ZZSI950107HU5,ZURITA SILVINA YUDIT,DATOS PERSONALES,NaN,(*) Género,FEMENINO,NaN
100192,CE_136_bee89e481616e55f_20210925153852511,ZZSI950107HU5,ZURITA SILVINA YUDIT,EDUCACION Y ALFABETIZACION,NaN,Máximo Nivel Educativo Alcanzado,SECUNDARIO COMPLETO,NaN
100193,CE_136_bee89e481616e55f_20210925153852511,ZZSI950107HU5,ZURITA SILVINA YUDIT,ECONOMÍA Y TAREAS DIARIAS,NaN,(*)¿Qué actividades productivas o laborales re...,OTROS,NaN
100194,CE_136_bee89e481616e55f_20210925153852511,ZZSI950107HU5,ZURITA SILVINA YUDIT,ECONOMÍA Y TAREAS DIARIAS,NaN,(*) Explicación de las otras actividades que r...,TAREAS DOMÉSTICAS,NaN
100195,CE_136_bee89e481616e55f_20210925153852511,ZZSI950107HU5,ZURITA SILVINA YUDIT,ECONOMÍA Y TAREAS DIARIAS,NaN,(*) Indique si tiene conocimiento o experienci...,NINGUNO,NaN

In [14]:
df_dict['Objetivo Parajes']

,Paraje,Municipio,Departamento,Cantidad de Familias,Km que recorre el camión cisterna,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Acequia Vieja,Colonia Dora,Avellaneda,10.0,20,NaN,NaN,Municipio,NaN,NaN
1,Blanca Pozo,Colonia Dora,Avellaneda,65.0,44,NaN,NaN,Colonia Dora,642.0,224.0
2,Bracho Laguna,Colonia Dora,Avellaneda,33.0,15,NaN,NaN,Herrera,454.0,0.0
3,Bracho Lujan,Colonia Dora,Avellaneda,40.0,30,NaN,NaN,Icaño,270.0,219.0
4,Canal 3,Colonia Dora,Avellaneda,10.0,10,NaN,NaN,Lugones,309.0,74.0
...,...,...,...,...,...,...,...,...,...,...
128,Tagan,Villa Mailin,Avellaneda,1.0,0,NaN,NaN,NaN,NaN,NaN
129,Tagan,Punta Pozo,Avellaneda,1.0,0,NaN,NaN,NaN,NaN,NaN
130,Tusca Pozo,Lugones,Avellaneda,16.0,0,NaN,NaN,NaN,NaN,NaN
131,Retiro,Punta Pozo,Avellaneda,4.0,0,NaN,NaN,NaN,NaN,NaN
132,Retiro,Villa Mailin,Avellaneda,4.0,0,NaN,NaN,NaN,NaN,NaN

In [15]:
df_dict['Hoja 5']

  isfarv2 baja dsitintas cantidades en vivienda y visitas (2 de diferencia)
0                        una encuesta no tiene alias
1                            modificar otros parajes
2                                modificar de prueba

In [16]:
df_dict['Hoja 7']

,CE_2_2888bcab266c4163_20210810121547444,2356.19,3,CE_2_2888bcab266c4163_20210810121547444.1,3.1,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,CE_2_6ef3f08dcfed8102_20210810105537282,9424.77,8.0,CE_2_6ef3f08dcfed8102_20210810105537282,8,NaN,NaN,CE_2_2888bcab266c4163_20210810121547444,2356.19,3.0,0.785397
1,CE_2_d6d3c7c6322ef318_20210810123541264,8835.72,5.0,CE_2_bee89e481616e55f_20210810121618086,4,NaN,NaN,CE_2_6ef3f08dcfed8102_20210810105537282,9424.77,8.0,1.178096
2,CE_3_bee89e481616e55f_20210810131527851,7853.98,2.0,CE_2_d6d3c7c6322ef318_20210810123541264,5,NaN,NaN,CE_2_d6d3c7c6322ef318_20210810123541264,8835.72,5.0,1.767144
3,CE_3_bee89e481616e55f_20210810131527851,7853.98,2.0,CE_3_2888bcab266c4163_20210810132952815,5,NaN,NaN,CE_3_bee89e481616e55f_20210810131527851,15707.96,2.0,7.853980
4,CE_4_2888bcab266c4163_20210810142927683,9424.77,8.0,CE_3_6ef3f08dcfed8102_20210810133327830,7,NaN,NaN,CE_4_2888bcab266c4163_20210810142927683,9424.77,8.0,1.178096
...,...,...,...,...,...,...,...,...,...,...,...
328,NaN,NaN,NaN,CE_89_7f680a31ff0c1ed0_20210831123150443,1,NaN,NaN,NaN,NaN,NaN,NaN
329,NaN,NaN,NaN,CE_91_7f680a31ff0c1ed0_20210901095315891,8,NaN,NaN,NaN,NaN,NaN,NaN
330,NaN,NaN,NaN,CE_92_7f680a31ff0c1ed0_20210901103159591,5,NaN,NaN,NaN,NaN,NaN,NaN
331,NaN,NaN,NaN,CE_93_7f680a31ff0c1ed0_20210901110454463,6,NaN,NaN,NaN,NaN,NaN,NaN
332,NaN,NaN,NaN,CE_94_7f680a31ff0c1ed0_20210901113010248,1,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_dict['Multimedias']

,CodVisita,CodEntidad,Entidad,TipoMultimedia,Archivo,Url
0,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
1,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
2,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
3,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
4,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
...,...,...,...,...,...,...
969,CE_72_7f680a31ff0c1ed0_20210826170633198,CV_309_7f680a31ff0c1ed0_20210826170633452,VIVIENDA,AUDIO,ce_72_7f680a31ff0c1ed0_20210826170633198_20210...,https://likechuckstorage.blob.core.windows.net...
970,CE_73_7f680a31ff0c1ed0_20210826173224945,CV_310_7f680a31ff0c1ed0_20210826173225108,VIVIENDA,AUDIO,ce_73_7f680a31ff0c1ed0_20210826173224945_20210...,https://likechuckstorage.blob.core.windows.net...
971,CE_73_7f680a31ff0c1ed0_20210826173224945,CV_310_7f680a31ff0c1ed0_20210826173225108,VIVIENDA,IMAGEN,img_default.jpg,https://likechuckstorage.blob.core.windows.net...
972,CE_73_7f680a31ff0c1ed0_20210826173224945,CV_310_7f680a31ff0c1ed0_20210826173225108,VIVIENDA,IMAGEN,fb5a433e-193d-40b1-9158-8d2f5b51ac4c_20210826_...,https://likechuckstorage.blob.core.windows.net...
973,CE_73_7f680a31ff0c1ed0_20210826173224945,CV_310_7f680a31ff0c1ed0_20210826173225108,VIVIENDA,IMAGEN,ba26a5cb-cea5-47c3-99b9-589218d2d86f_20210826_...,https://likechuckstorage.blob.core.windows.net...

In [18]:
### Preprocess data

In [19]:
# acá pasan cosas
# limpieza y eso

In [20]:
df_dict['Visitas'].iloc[: , :10].head()

,CodVisita,Alias,NombreVisita,FechaInicial,FechaFinal,EstadoEncuesta,Usuario,Longitud,Latitud,FechaSincronizacion
0,CE_4_bee89e481616e55f_20210810152417162,ISF_0000095,"GÓMEZ ABEL,SANTO DOMINGO",2021-08-10,2021-08-10,Completa,Sergio Gonzalo Escalada,-63.475026,-28.372053,2021-08-11
1,CE_16_bee89e481616e55f_20210817163803849,ISF_0000185,"GODOY ELVIO, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.339625,-28.590347,2021-08-18
2,CE_17_bee89e481616e55f_20210817170755564,ISF_0000186,"GODOY JORGE, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.340298,-28.588724,2021-08-18
3,CE_18_bee89e481616e55f_20210817175728056,ISF_0000187,"GODOY ARMINDO, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.335112,-28.588142,2021-08-18
4,CE_21_bee89e481616e55f_20210818154802048,ISF_0000189,"ESCALADA SERGIO, BREAYOJ",2021-08-18,2021-08-18,Completa,Sergio Gonzalo Escalada,-63.328342,-28.589867,2021-08-18

In [21]:
df_dict['Visitas'] = df_dict['Visitas'].iloc[: , :10]
# me quedo con las primeras 10 columnas, las otras son issues de VLOOKUP()

In [22]:
df_dict['Personas'].iloc[: , :8].head()

,CodVisita,CodPersona,Apellidos,Nombres,FechaNacimiento,Sexo,TipoDocumento,NroDocumento
0,CE_10_6ef3f08dcfed8102_20210812151131799,GGBI060818CF2,GONZALEZ,BIANCA SOLEDAD,2006-08-18,FEMENINO,DNI,47502907.0
1,CE_10_6ef3f08dcfed8102_20210812151131799,GGRU020922J38,GONZALEZ,JOSE RUBEN,2002-09-22,MASCULINO,DNI,44313854.0
2,CE_10_6ef3f08dcfed8102_20210812151131799,GGTA100810DH3,GONZALEZ,TANIA JASMIN,2010-08-10,FEMENINO,DNI,50410198.0
3,CE_10_ac7920cfe82b271a_20210812093233774,LLJO190213P99,LEIVA LOBATO,JOSUE DYLAN,2019-02-13,MASCULINO,DNI,57957237.0
4,CE_10_ac7920cfe82b271a_20210812093233774,LLVI110906QD6,LEIVA LOBATO,VICTORIANO JONAS,2011-09-06,MASCULINO,DNI,51088498.0

In [23]:
df_dict['Personas'] = df_dict['Personas'].iloc[: , :8]

In [24]:
df_dict['Viviendas'].iloc[: , :8].head()

,CodVivienda,CodVisita,Provincia,Departamento,Municipio,Localidad,Paraje,EstadoEncuesta
0,CV_240_2888bcab266c4163_20210810132952940,CE_3_2888bcab266c4163_20210810132952815,Santiago Del Estero,Avellaneda,Lugones,NaN,Konshulnioj,Completa
1,CV_240_6ef3f08dcfed8102_20210810133327955,CE_3_6ef3f08dcfed8102_20210810133327830,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Puente Negro,Completa
2,CV_240_bee89e481616e55f_20210810131527918,CE_3_bee89e481616e55f_20210810131527851,Santiago Del Estero,Avellaneda,Lugones,NaN,Santo Domingo,Completa
3,CV_240_d4e4080243566731_20210817123520415,CE_3_d4e4080243566731_20210817123520220,Santiago Del Estero,Avellaneda,Real Sayana,NaN,Colonia Real Sur,Completa
4,CV_241_2888bcab266c4163_20210810142927806,CE_4_2888bcab266c4163_20210810142927683,Santiago Del Estero,Avellaneda,Lugones,NaN,Konshulnioj,Completa

In [25]:
df_dict['Viviendas'] = df_dict['Viviendas'].iloc[: , :8]

In [26]:
df_dict['Respuestas'].iloc[: , :7].head()

,CodVisita,CodEntidad,Entidad,Seccion,Bloque,Pregunta,Respuesta
0,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Tipo de Documento,DNI
1,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Número de Documento,45659506
2,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Apellido,ARANDA
3,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Nombres,ALFIO NAHUEL
4,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Fecha de Nacimiento,2004-05-03 00:00:00

In [27]:
df_dict['Respuestas'] = df_dict['Respuestas'].iloc[: , :7]

In [28]:
df_dict['Objetivo Parajes'].iloc[: , :5].head().clean_names()

,paraje,municipio,departamento,cantidad_de_familias,km_que_recorre_el_camion_cisterna
0,Acequia Vieja,Colonia Dora,Avellaneda,10.0,20
1,Blanca Pozo,Colonia Dora,Avellaneda,65.0,44
2,Bracho Laguna,Colonia Dora,Avellaneda,33.0,15
3,Bracho Lujan,Colonia Dora,Avellaneda,40.0,30
4,Canal 3,Colonia Dora,Avellaneda,10.0,10

In [29]:
df_dict['Objetivo Parajes'] = df_dict['Objetivo Parajes'].iloc[: , :5].clean_names()
# aplico clean_names() para quitar espacios en nombres de columnas

In [30]:
### Save data to database

In [31]:
df_dict['Visitas'].to_sql("visitas", engine, index=False, if_exists="replace")

In [32]:
df_dict['Personas'].to_sql("personas", engine, index=False, if_exists="replace")

In [33]:
df_dict['Viviendas'].to_sql("viviendas", engine, index=False, if_exists="replace")

In [34]:
df_dict['Respuestas'].to_sql("respuestas", engine, index=False, if_exists="replace")

In [35]:
df_dict['Multimedias'].to_sql("multimedias", engine, index=False, if_exists="replace")

In [36]:
df_dict['Objetivo Parajes'].to_sql("objetivo_parajes", engine, index=False, if_exists="replace")

In [37]:
### Validate written tables

In [38]:
pd.read_sql("""
SELECT 
   table_name, 
   column_name, 
   data_type 
FROM 
   information_schema.columns
WHERE table_schema = 'public';
""", engine)

          table_name      column_name                    data_type
0           personas        CodVisita                         text
1   geometry_columns  f_table_catalog            character varying
2    spatial_ref_sys        auth_srid                      integer
3          viviendas           Paraje                         text
4          viviendas        Provincia                         text
..               ...              ...                          ...
58          personas       CodPersona                         text
59  geometry_columns   f_table_schema                         name
60       multimedias          Archivo                         text
61        respuestas           Bloque                         text
62           visitas       FechaFinal  timestamp without time zone

[63 rows x 3 columns]