In [1]:
%%capture

!pip install openpyxl
!pip install psycopg2-binary
!pip install pyjanitor
!pip install geopandas
!pip install geoalchemy2

In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import janitor
from datetime import datetime, date
import geopandas as gpd

### Load connection

In [3]:
engine = create_engine('postgresql://postgres:andy1234@database/postgres')

# accedo a DB por defecto

### Load data

In [4]:
filename = '../data/raw-data/Crudo relevamiento Programa de Agua.xlsx'

df_dict = pd.read_excel(filename, sheet_name = None)

# validar si realmente es el crudo, parece que hay varias celdas o tablas extras en cualquier lado

In [5]:
type(df_dict)

dict

In [6]:
list(df_dict)

['Visitas',
 'Personas',
 'Viviendas',
 'Respuestas',
 'Limpieza BBDD',
 'Agua por vivienda',
 'Multimedias',
 'Objetivo Parajes',
 'Hoja 11',
 'Hoja 5',
 'Hoja 7',
 'Hoja 12']

### Validate data

In [7]:
df_dict['Visitas'].head()

,CodVisita,Alias,NombreVisita,FechaInicial,FechaFinal,EstadoEncuesta,Usuario,Longitud,Latitud,FechaSincronizacion,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,CE_4_bee89e481616e55f_20210810152417162,ISF_0000095,"GÓMEZ ABEL,SANTO DOMINGO",2021-08-10,2021-08-10,Completa,Sergio Gonzalo Escalada,-63.475026,-28.372053,2021-08-11,Santo Domingo,NaN,NaN
1,CE_16_bee89e481616e55f_20210817163803849,ISF_0000185,"GODOY ELVIO, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.339625,-28.590347,2021-08-18,Breayoj,NaN,NaN
2,CE_17_bee89e481616e55f_20210817170755564,ISF_0000186,"GODOY JORGE, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.340298,-28.588724,2021-08-18,Breayoj,NaN,NaN
3,CE_18_bee89e481616e55f_20210817175728056,ISF_0000187,"GODOY ARMINDO, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.335112,-28.588142,2021-08-18,Breayoj,NaN,NaN
4,CE_21_bee89e481616e55f_20210818154802048,ISF_0000189,"ESCALADA SERGIO, BREAYOJ",2021-08-18,2021-08-18,Completa,Sergio Gonzalo Escalada,-63.328342,-28.589867,2021-08-18,Breayoj,NaN,NaN

In [8]:
df_dict['Personas'].head()

,CodVisita,CodPersona,Apellidos,Nombres,FechaNacimiento,Sexo,TipoDocumento,NroDocumento,Paraje,Edad
0,CE_10_6ef3f08dcfed8102_20210812151131799,GGBI060818CF2,GONZALEZ,BIANCA SOLEDAD,2006-08-18,FEMENINO,DNI,47502907.0,Puente Negro,15
1,CE_10_6ef3f08dcfed8102_20210812151131799,GGRU020922J38,GONZALEZ,JOSE RUBEN,2002-09-22,MASCULINO,DNI,44313854.0,Puente Negro,19
2,CE_10_6ef3f08dcfed8102_20210812151131799,GGTA100810DH3,GONZALEZ,TANIA JASMIN,2010-08-10,FEMENINO,DNI,50410198.0,Puente Negro,11
3,CE_10_ac7920cfe82b271a_20210812093233774,LLJO190213P99,LEIVA LOBATO,JOSUE DYLAN,2019-02-13,MASCULINO,DNI,57957237.0,Colonia Real Sur,2
4,CE_10_ac7920cfe82b271a_20210812093233774,LLVI110906QD6,LEIVA LOBATO,VICTORIANO JONAS,2011-09-06,MASCULINO,DNI,51088498.0,Colonia Real Sur,10

In [9]:
df_dict['Viviendas'].head()

,CodVivienda,CodVisita,Provincia,Departamento,Municipio,Localidad,Paraje,EstadoEncuesta,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,CV_240_2888bcab266c4163_20210810132952940,CE_3_2888bcab266c4163_20210810132952815,Santiago Del Estero,Avellaneda,Lugones,NaN,Konshulnioj,Completa,NaN,0.0,Konshulnioj,Konshulnioj
1,CV_240_6ef3f08dcfed8102_20210810133327955,CE_3_6ef3f08dcfed8102_20210810133327830,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Puente Negro,Completa,NaN,0.0,Puente Negro,Puente Negro
2,CV_240_bee89e481616e55f_20210810131527918,CE_3_bee89e481616e55f_20210810131527851,Santiago Del Estero,Avellaneda,Lugones,NaN,Santo Domingo,Completa,NaN,0.0,Santo Domingo,Santo Domingo
3,CV_240_d4e4080243566731_20210817123520415,CE_3_d4e4080243566731_20210817123520220,Santiago Del Estero,Avellaneda,Real Sayana,NaN,Colonia Real Sur,Completa,NaN,0.0,Colonia Real Sur,Colonia Real Sur
4,CV_241_2888bcab266c4163_20210810142927806,CE_4_2888bcab266c4163_20210810142927683,Santiago Del Estero,Avellaneda,Lugones,NaN,Konshulnioj,Completa,NaN,0.0,Bracho Laguna,Bracho Laguna

In [10]:
df_dict['Respuestas'].head()

,CodVisita,CodEntidad,Entidad,Seccion,Bloque,Pregunta,Respuesta,Unnamed: 7
0,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Tipo de Documento,DNI,NaN
1,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Número de Documento,45659506,NaN
2,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Apellido,ARANDA,NaN
3,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Nombres,ALFIO NAHUEL,NaN
4,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Fecha de Nacimiento,2004-05-03 00:00:00,NaN

In [11]:
df_dict['Objetivo Parajes'].head()

,Paraje,Municipio,Departamento,Cantidad de Familias,Km que recorre el camión cisterna,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Acequia Vieja,Colonia Dora,Avellaneda,10.0,20,NaN,NaN,Municipio,NaN,NaN
1,Blanca Pozo,Colonia Dora,Avellaneda,65.0,44,NaN,NaN,Colonia Dora,642.0,224.0
2,Bracho Laguna,Colonia Dora,Avellaneda,33.0,15,NaN,NaN,Herrera,454.0,0.0
3,Bracho Lujan,Colonia Dora,Avellaneda,40.0,30,NaN,NaN,Icaño,270.0,219.0
4,Canal 3,Colonia Dora,Avellaneda,10.0,10,NaN,NaN,Lugones,309.0,74.0

In [12]:
df_dict['Hoja 5'].head()

  isfarv2 baja dsitintas cantidades en vivienda y visitas (2 de diferencia)
0                        una encuesta no tiene alias
1                            modificar otros parajes
2                                modificar de prueba

In [13]:
df_dict['Hoja 7'].head()

,CE_2_2888bcab266c4163_20210810121547444,2356.19,3,CE_2_2888bcab266c4163_20210810121547444.1,3.1,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,CE_2_6ef3f08dcfed8102_20210810105537282,9424.77,8.0,CE_2_6ef3f08dcfed8102_20210810105537282,8,NaN,NaN,CE_2_2888bcab266c4163_20210810121547444,2356.19,3.0,0.785397
1,CE_2_d6d3c7c6322ef318_20210810123541264,8835.72,5.0,CE_2_bee89e481616e55f_20210810121618086,4,NaN,NaN,CE_2_6ef3f08dcfed8102_20210810105537282,9424.77,8.0,1.178096
2,CE_3_bee89e481616e55f_20210810131527851,7853.98,2.0,CE_2_d6d3c7c6322ef318_20210810123541264,5,NaN,NaN,CE_2_d6d3c7c6322ef318_20210810123541264,8835.72,5.0,1.767144
3,CE_3_bee89e481616e55f_20210810131527851,7853.98,2.0,CE_3_2888bcab266c4163_20210810132952815,5,NaN,NaN,CE_3_bee89e481616e55f_20210810131527851,15707.96,2.0,7.853980
4,CE_4_2888bcab266c4163_20210810142927683,9424.77,8.0,CE_3_6ef3f08dcfed8102_20210810133327830,7,NaN,NaN,CE_4_2888bcab266c4163_20210810142927683,9424.77,8.0,1.178096

In [14]:
df_dict['Multimedias'].head()

,CodVisita,CodEntidad,Entidad,TipoMultimedia,Archivo,Url
0,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
1,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
2,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
3,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...
4,CE_6_bee89e481616e55f_20210814082619486,CV_243_bee89e481616e55f_20210814082619547,VIVIENDA,AUDIO,ce_6_bee89e481616e55f_20210814082619486_202108...,https://likechuckstorage.blob.core.windows.net...

### Preprocess data

In [15]:
# acá pasan cosas
# limpieza y eso

#### Visitas

In [16]:
df_dict['Visitas'].iloc[: , :10].head()

,CodVisita,Alias,NombreVisita,FechaInicial,FechaFinal,EstadoEncuesta,Usuario,Longitud,Latitud,FechaSincronizacion
0,CE_4_bee89e481616e55f_20210810152417162,ISF_0000095,"GÓMEZ ABEL,SANTO DOMINGO",2021-08-10,2021-08-10,Completa,Sergio Gonzalo Escalada,-63.475026,-28.372053,2021-08-11
1,CE_16_bee89e481616e55f_20210817163803849,ISF_0000185,"GODOY ELVIO, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.339625,-28.590347,2021-08-18
2,CE_17_bee89e481616e55f_20210817170755564,ISF_0000186,"GODOY JORGE, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.340298,-28.588724,2021-08-18
3,CE_18_bee89e481616e55f_20210817175728056,ISF_0000187,"GODOY ARMINDO, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.335112,-28.588142,2021-08-18
4,CE_21_bee89e481616e55f_20210818154802048,ISF_0000189,"ESCALADA SERGIO, BREAYOJ",2021-08-18,2021-08-18,Completa,Sergio Gonzalo Escalada,-63.328342,-28.589867,2021-08-18

In [17]:
df_dict['Visitas'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934 entries, 0 to 933
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CodVisita            934 non-null    object
 1   Alias                933 non-null    object
 2   NombreVisita         934 non-null    object
 3   FechaInicial         934 non-null    datetime64[ns]
 4   FechaFinal           934 non-null    datetime64[ns]
 5   EstadoEncuesta       934 non-null    object
 6   Usuario              934 non-null    object
 7   Longitud             922 non-null    float64
 8   Latitud              922 non-null    float64
 9   FechaSincronizacion  934 non-null    datetime64[ns]
 10  Unnamed: 10          914 non-null    object
 11  Unnamed: 11          0 non-null      float64
 12  Unnamed: 12          1 non-null      object
dtypes: datetime64[ns](3), float64(3), object(7)
memory usage: 95.0+ KB

In [18]:
df_dict['Visitas'] = df_dict['Visitas'].iloc[: , :10]
# me quedo con las primeras 10 columnas, las otras son issues de VLOOKUP()

In [19]:
crs = 'epsg:4326'

df_dict['Visitas_gpd'] = gpd.GeoDataFrame(df_dict['Visitas'],
                                      crs=crs,
                                      geometry=gpd.points_from_xy(df_dict['Visitas'].Longitud,
                                                                  df_dict['Visitas'].Latitud))
df_dict['Visitas_gpd'].head()

,CodVisita,Alias,NombreVisita,FechaInicial,FechaFinal,EstadoEncuesta,Usuario,Longitud,Latitud,FechaSincronizacion,geometry
0,CE_4_bee89e481616e55f_20210810152417162,ISF_0000095,"GÓMEZ ABEL,SANTO DOMINGO",2021-08-10,2021-08-10,Completa,Sergio Gonzalo Escalada,-63.475026,-28.372053,2021-08-11,POINT (-63.47503 -28.37205)
1,CE_16_bee89e481616e55f_20210817163803849,ISF_0000185,"GODOY ELVIO, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.339625,-28.590347,2021-08-18,POINT (-63.33962 -28.59035)
2,CE_17_bee89e481616e55f_20210817170755564,ISF_0000186,"GODOY JORGE, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.340298,-28.588724,2021-08-18,POINT (-63.34030 -28.58872)
3,CE_18_bee89e481616e55f_20210817175728056,ISF_0000187,"GODOY ARMINDO, BREAYOJ",2021-08-17,2021-08-17,Completa,Sergio Gonzalo Escalada,-63.335112,-28.588142,2021-08-18,POINT (-63.33511 -28.58814)
4,CE_21_bee89e481616e55f_20210818154802048,ISF_0000189,"ESCALADA SERGIO, BREAYOJ",2021-08-18,2021-08-18,Completa,Sergio Gonzalo Escalada,-63.328342,-28.589867,2021-08-18,POINT (-63.32834 -28.58987)

In [20]:
df_dict['Visitas_gpd'].info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 934 entries, 0 to 933
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CodVisita            934 non-null    object
 1   Alias                933 non-null    object
 2   NombreVisita         934 non-null    object
 3   FechaInicial         934 non-null    datetime64[ns]
 4   FechaFinal           934 non-null    datetime64[ns]
 5   EstadoEncuesta       934 non-null    object
 6   Usuario              934 non-null    object
 7   Longitud             922 non-null    float64
 8   Latitud              922 non-null    float64
 9   FechaSincronizacion  934 non-null    datetime64[ns]
 10  geometry             934 non-null    geometry
dtypes: datetime64[ns](3), float64(2), geometry(1), object(5)
memory usage: 80.4+ KB

#### Personas

In [21]:
df_dict['Personas'].iloc[: , :8].head()

,CodVisita,CodPersona,Apellidos,Nombres,FechaNacimiento,Sexo,TipoDocumento,NroDocumento
0,CE_10_6ef3f08dcfed8102_20210812151131799,GGBI060818CF2,GONZALEZ,BIANCA SOLEDAD,2006-08-18,FEMENINO,DNI,47502907.0
1,CE_10_6ef3f08dcfed8102_20210812151131799,GGRU020922J38,GONZALEZ,JOSE RUBEN,2002-09-22,MASCULINO,DNI,44313854.0
2,CE_10_6ef3f08dcfed8102_20210812151131799,GGTA100810DH3,GONZALEZ,TANIA JASMIN,2010-08-10,FEMENINO,DNI,50410198.0
3,CE_10_ac7920cfe82b271a_20210812093233774,LLJO190213P99,LEIVA LOBATO,JOSUE DYLAN,2019-02-13,MASCULINO,DNI,57957237.0
4,CE_10_ac7920cfe82b271a_20210812093233774,LLVI110906QD6,LEIVA LOBATO,VICTORIANO JONAS,2011-09-06,MASCULINO,DNI,51088498.0

In [22]:
df_dict['Personas'] = df_dict['Personas'].iloc[: , :8]

In [23]:
df_dict['Personas'].shape

(3122, 8)

In [24]:
# df_dict['Personas'].info()

In [25]:
def age(born): 
    # born = datetime.strptime(born, "%d/%m/%Y").date() 
    today = date.today() 
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [26]:
df_dict['Personas']['Edad'] = df_dict['Personas']['FechaNacimiento'].apply(age)

In [27]:
# df_dict['Personas'].info()

In [28]:
df_dict['Personas'].head()

,CodVisita,CodPersona,Apellidos,Nombres,FechaNacimiento,Sexo,TipoDocumento,NroDocumento,Edad
0,CE_10_6ef3f08dcfed8102_20210812151131799,GGBI060818CF2,GONZALEZ,BIANCA SOLEDAD,2006-08-18,FEMENINO,DNI,47502907.0,15
1,CE_10_6ef3f08dcfed8102_20210812151131799,GGRU020922J38,GONZALEZ,JOSE RUBEN,2002-09-22,MASCULINO,DNI,44313854.0,19
2,CE_10_6ef3f08dcfed8102_20210812151131799,GGTA100810DH3,GONZALEZ,TANIA JASMIN,2010-08-10,FEMENINO,DNI,50410198.0,11
3,CE_10_ac7920cfe82b271a_20210812093233774,LLJO190213P99,LEIVA LOBATO,JOSUE DYLAN,2019-02-13,MASCULINO,DNI,57957237.0,2
4,CE_10_ac7920cfe82b271a_20210812093233774,LLVI110906QD6,LEIVA LOBATO,VICTORIANO JONAS,2011-09-06,MASCULINO,DNI,51088498.0,10

#### Viviendas

In [29]:
df_dict['Viviendas'].iloc[: , :8].head()

,CodVivienda,CodVisita,Provincia,Departamento,Municipio,Localidad,Paraje,EstadoEncuesta
0,CV_240_2888bcab266c4163_20210810132952940,CE_3_2888bcab266c4163_20210810132952815,Santiago Del Estero,Avellaneda,Lugones,NaN,Konshulnioj,Completa
1,CV_240_6ef3f08dcfed8102_20210810133327955,CE_3_6ef3f08dcfed8102_20210810133327830,Santiago Del Estero,Avellaneda,Colonia Dora,NaN,Puente Negro,Completa
2,CV_240_bee89e481616e55f_20210810131527918,CE_3_bee89e481616e55f_20210810131527851,Santiago Del Estero,Avellaneda,Lugones,NaN,Santo Domingo,Completa
3,CV_240_d4e4080243566731_20210817123520415,CE_3_d4e4080243566731_20210817123520220,Santiago Del Estero,Avellaneda,Real Sayana,NaN,Colonia Real Sur,Completa
4,CV_241_2888bcab266c4163_20210810142927806,CE_4_2888bcab266c4163_20210810142927683,Santiago Del Estero,Avellaneda,Lugones,NaN,Konshulnioj,Completa

In [30]:
df_dict['Viviendas'] = df_dict['Viviendas'].iloc[: , :8]

In [31]:
df_dict['Viviendas'].shape

(934, 8)

In [32]:
df_dict['Viviendas'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 934 entries, 0 to 933
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CodVivienda     934 non-null    object
 1   CodVisita       934 non-null    object
 2   Provincia       934 non-null    object
 3   Departamento    934 non-null    object
 4   Municipio       914 non-null    object
 5   Localidad       17 non-null     object
 6   Paraje          914 non-null    object
 7   EstadoEncuesta  934 non-null    object
dtypes: object(8)
memory usage: 58.5+ KB

#### Respuestas

In [33]:
df_dict['Respuestas'].iloc[: , :7].head()

,CodVisita,CodEntidad,Entidad,Seccion,Bloque,Pregunta,Respuesta
0,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Tipo de Documento,DNI
1,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Número de Documento,45659506
2,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Apellido,ARANDA
3,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Nombres,ALFIO NAHUEL
4,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Fecha de Nacimiento,2004-05-03 00:00:00

In [34]:
df_dict['Respuestas'] = df_dict['Respuestas'].iloc[: , :7]

In [35]:
df_dict['Respuestas'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100196 entries, 0 to 100195
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   CodVisita   100196 non-null  object
 1   CodEntidad  100196 non-null  object
 2   Entidad     99836 non-null   object
 3   Seccion     100196 non-null  object
 4   Bloque      10667 non-null   object
 5   Pregunta    95447 non-null   object
 6   Respuesta   91175 non-null   object
dtypes: object(7)
memory usage: 5.4+ MB

In [36]:
df_dict['Respuestas'].shape

(100196, 7)

In [37]:
df_dict['Respuestas'].drop_duplicates().shape

(98559, 7)

In [38]:
100196-98559
# aprox unos 1600 duplicados

1637

In [39]:
df_dict['Respuestas'] = df_dict['Respuestas'].iloc[: , :7].drop_duplicates()

In [40]:
df_dict['Respuestas'].shape

(98559, 7)

In [41]:
type(df_dict['Respuestas']['CodVisita'].unique())

numpy.ndarray

In [42]:
df_dict['Respuestas']['CodVisita'].unique().size

769

In [43]:
df_dict['Respuestas']['CodEntidad'].unique().size

3642

In [44]:
df_dict['Respuestas']['Entidad'].unique().size

2876

In [45]:
df_dict['Respuestas'][['CodVisita', 'CodEntidad', 'Entidad']].drop_duplicates().shape

(4014, 3)

In [46]:
df_dict['Respuestas'][['Seccion', 'Bloque','Pregunta']].drop_duplicates().shape

(294, 3)

In [47]:
df_dict['Respuestas']['Pregunta'].value_counts()

(*)¿Qué actividades productivas o laborales realiza?    2927
(*) Tipo de Documento                                   2885
(*) Género                                              2885
(*) Apellido                                            2885
(*) Edad                                                2885
                                                        ...
(*) ¿Qué pueblo indígena /pueblo originario?              19
(*) Especifique otros subsidios                           12
¿Por qué motivo piensa mudarse?                           11
Especifique otra manera de tratar el agua                  3
(*) Observaciones                                          1
Name: Pregunta, Length: 145, dtype: int64

In [48]:
df_dict['Respuestas']['Bloque'].value_counts()

COD_BEBER               1674
COD_COCINAR             1645
COD_BANARSE             1535
COD_LOCALIDAD_22985     1431
COD_OPC_183521          1068
COD_INODORO              909
COD_LLUVIA               687
COD_OPC_183478           562
COD_LOCALIDAD_104558     308
COD_OPC_183479           260
COD_CULTIVO/HUERTA       242
66133528                 184
COD_LOCALIDAD_43013      106
COD_OPC_167664            34
Name: Bloque, dtype: int64

In [49]:
df_dict['Respuestas']['CodPregunta'] = df_dict['Respuestas']['Seccion'].map(str) + '_' + df_dict['Respuestas']['Bloque'].map(str) + '_' + df_dict['Respuestas']['Pregunta'].map(str)

In [50]:
df_dict['Respuestas'].head()

,CodVisita,CodEntidad,Entidad,Seccion,Bloque,Pregunta,Respuesta,CodPregunta
0,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Tipo de Documento,DNI,DATOS PERSONALES_nan_(*) Tipo de Documento
1,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Número de Documento,45659506,DATOS PERSONALES_nan_(*) Número de Documento
2,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Apellido,ARANDA,DATOS PERSONALES_nan_(*) Apellido
3,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Nombres,ALFIO NAHUEL,DATOS PERSONALES_nan_(*) Nombres
4,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Fecha de Nacimiento,2004-05-03 00:00:00,DATOS PERSONALES_nan_(*) Fecha de Nacimiento

In [51]:
df_dict['Respuestas'].groupby(['CodVisita', 'CodEntidad', 'Entidad', 'CodPregunta']).count().sort_values(by='Respuesta', ascending=False).head()

# es un dolor porque las respuestas múltiples no me permiten pivotear la tabla.
# debería pasar a un booleano y obtener más preguntas, o tomar la primera respuesta, o la mayor respuesta.

,,,,Seccion,Bloque,Pregunta,Respuesta
CodVisita,CodEntidad,Entidad,CodPregunta,,,,
CE_23_bee89e481616e55f_20210818170408995,CV_260_bee89e481616e55f_20210818170409060,VIVIENDA,ACCESO A AGUA II_nan_(*) Marcar todas las opciones con las que cuenta la vivienda,6,0,6,6
CE_40_bee89e481616e55f_20210824113833932,CV_277_bee89e481616e55f_20210824113834007,VIVIENDA,ACCESO A AGUA II_nan_(*) Marcar todas las opciones con las que cuenta la vivienda,6,0,6,6
CE_21_bee89e481616e55f_20210818154802048,CV_258_bee89e481616e55f_20210818154802120,VIVIENDA,ACCESO A AGUA II_nan_(*) Marcar todas las opciones con las que cuenta la vivienda,6,0,6,6
CE_28_bee89e481616e55f_20210819104457313,CV_265_bee89e481616e55f_20210819104457436,VIVIENDA,ACCESO A AGUA II_nan_(*) Marcar todas las opciones con las que cuenta la vivienda,6,0,6,6
CE_8_d4e4080243566731_20210817151957885,MMSA670904EV1,MALDONADO SARA SULEMA,ECONOMÍA Y TAREAS DIARIAS_nan_(*)¿Qué actividades productivas o laborales realiza?,5,0,5,5

In [52]:
df_dict['Respuestas'].groupby(['CodVisita', 'CodEntidad', 'Entidad', 'CodPregunta']).count().sort_values(by='Respuesta', ascending=False)['Respuesta'].value_counts()

# 0 serían los NaN?
# 1 es lo que quiero
# 2 o más es un pain. aprox 3000 valores de esos (3%)

1    80559
0     8296
2     2988
3      789
4      228
5       13
6        4
Name: Respuesta, dtype: int64

In [53]:
df_dict['Respuestas'].groupby(['CodVisita', 'CodEntidad', 'Entidad', 'CodPregunta']).count().sort_values(by='Respuesta', ascending=False).query('Respuesta > 1').reset_index()['CodPregunta'].unique()
# conclusion: son varias las preguntas con múltiple respuesta

# posibilidad a evaluar: pasar a array con respuestas

array(['ACCESO A AGUA II_nan_(*) Marcar todas las opciones con las que cuenta la vivienda',
       'ECONOMÍA Y TAREAS DIARIAS_nan_(*)¿Qué actividades productivas o laborales realiza?',
       'ACCESO AL AGUA II_nan_En época de LLUVIA ¿Qué fuente de agua utiliza para ANIMALES, CULTIVOS, HUERTAS o ARTESANÍAS?',
       'ACCESO A AGUA III_nan_(*) Marcar todas las opciones con las que cuenta la vivienda',
       'INFRAESTRUCTURA GENERAL_nan_La energía eléctrica con la que cuenta es suficiente para',
       'ECONOMÍA Y TAREAS DIARIAS_nan_(*) Marque si en el hogar cuenta con alguno de los siguientes ingresos',
       'ACCESO AL AGUA II_nan_En época de LLUVIA ¿Qué fuente de agua utiliza para BAÑARSE y para el BAÑO?',
       'BAÑO 1_nan_(*) ¿Qué equipamiento tiene el baño?',
       'ACCESO AL AGUA II_nan_En época de LLUVIA ¿Qué fuente de agua utiliza para BEBER y COCINAR?',
       'ARRAIGO_nan_(*) ¿Por qué decidió irse a vivir a otro lugar?',
       'ACCESO A AGUA_nan_(*) ¿A qué fuente recurren cuando se quedan sin agua?',
       'ACCESO AL AGUA II_nan_En época de SEQUÍA ¿Qué fuente de agua utiliza para BEBER y COCINAR?',
       'ACCESO AL AGUA II_nan_En época de SEQUÍA ¿Qué fuente de agua utiliza para ANIMALES, CULTIVOS, HUERTAS o ARTESANÍAS?',
       'SALUD GENERAL_nan_(*) ¿Alguno de los integrantes de la vivienda sufre alguna de las siguientes enfermedades?',
       'INFRAESTRUCTURA GENERAL_nan_La vivienda cuenta con',
       'INFRAESTRUCTURA GENERAL_nan_(*) ¿De que material son las paredes?',
       'INFRAESTRUCTURA GENERAL_nan_(*) ¿De que material es el techo?',
       'ACCESO AL AGUA II_nan_En época de SEQUÍA ¿Qué fuente de agua utiliza para BAÑARSE y para el BAÑO?',
       'INFRAESTRUCTURA GENERAL_nan_(*) Si contara con un ambiente semi cubierto adicional, ¿Qué uso le daría?',
       'ACCESO A AGUA_nan_(*) En la vivienda, ¿Se realiza algún tratamiento al agua? Indicar de qué manera lo hacen',
       'ACCESO AL AGUA I_nan_(*) ¿En qué se trasladan?',
       'BAÑO 2_nan_(*) ¿Qué equipamiento tiene el baño?',
       'SALUD_nan_¿Qué tipo de discapacidad?',
       'ECONOMÍA Y TAREAS DIARIAS_nan_(*) Indique si tiene conocimiento o experiencia en las siguientes habilidades',
       'ACCESO A AGUA_nan_(*) ¿En qué se trasladan?',
       'SALUD_nan_(*) De estas dolencias ¿Cuáles son las más usuales durante el año?',
       'ACCESO AL AGUA I_nan_(*) Al agua que usan para beber'],
      dtype=object)

In [54]:
# df_dict['Respuestas'].groupby(['CodVisita', 'CodEntidad', 'Entidad', 'CodPregunta']).count().columns

In [55]:
df_dict['Respuestas'].head()

,CodVisita,CodEntidad,Entidad,Seccion,Bloque,Pregunta,Respuesta,CodPregunta
0,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Tipo de Documento,DNI,DATOS PERSONALES_nan_(*) Tipo de Documento
1,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Número de Documento,45659506,DATOS PERSONALES_nan_(*) Número de Documento
2,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Apellido,ARANDA,DATOS PERSONALES_nan_(*) Apellido
3,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Nombres,ALFIO NAHUEL,DATOS PERSONALES_nan_(*) Nombres
4,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Fecha de Nacimiento,2004-05-03 00:00:00,DATOS PERSONALES_nan_(*) Fecha de Nacimiento

In [56]:
respuestas_array = df_dict['Respuestas'].drop(['Seccion', 'Bloque', 'Pregunta'], axis=1).groupby(['CodVisita', 'CodEntidad', 'Entidad', 'CodPregunta']).agg(lambda x: list(set(x))).reset_index()
# con esto paso a arrays

In [57]:
respuestas_array.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92877 entries, 0 to 92876
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CodVisita    92877 non-null  object
 1   CodEntidad   92877 non-null  object
 2   Entidad      92877 non-null  object
 3   CodPregunta  92877 non-null  object
 4   Respuesta    92877 non-null  object
dtypes: object(5)
memory usage: 3.5+ MB

In [58]:
respuestas_array.head()

,CodVisita,CodEntidad,Entidad,CodPregunta,Respuesta
0,CE_100_7f680a31ff0c1ed0_20210903103713025,CCRO7307105F8,CASTAÑO ROXANA,DATOS PERSONALES_nan_(*) Apellido,[CASTAÑO]
1,CE_100_7f680a31ff0c1ed0_20210903103713025,CCRO7307105F8,CASTAÑO ROXANA,DATOS PERSONALES_nan_(*) Edad,[48]
2,CE_100_7f680a31ff0c1ed0_20210903103713025,CCRO7307105F8,CASTAÑO ROXANA,DATOS PERSONALES_nan_(*) Fecha de Nacimiento,[1973-07-10 00:00:00]
3,CE_100_7f680a31ff0c1ed0_20210903103713025,CCRO7307105F8,CASTAÑO ROXANA,DATOS PERSONALES_nan_(*) Género,[FEMENINO]
4,CE_100_7f680a31ff0c1ed0_20210903103713025,CCRO7307105F8,CASTAÑO ROXANA,DATOS PERSONALES_nan_(*) Nombres,[ROXANA]

In [59]:
df_dict['Respuestas'].groupby(['CodVisita', 'CodEntidad', 'Entidad', 'CodPregunta']).agg(lambda x: list(set(x))).reset_index().groupby(['CodVisita', 'CodEntidad', 'Entidad', 'CodPregunta']).count().sort_values(by='Respuesta', ascending=False).head()

# veo que no tengo duplicados, ahora las primeras 4 columnas son una clave compuesta

                                                                                                                                     Seccion  \
CodVisita                                 CodEntidad    Entidad                  CodPregunta
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8 CASTAÑO ROXANA           DATOS PERSONALES_nan_(*) Apellido                         1
CE_51_d6d3c7c6322ef318_20210827130325514  PPJU090227LE4 PEREZ JUAN CARLOS DANIEL DATOS PERSONALES_nan_(*) Apellido                         1
                                          PPJE190530UP6 PEREZ JEREMIAS ORLANDO   SALUD_nan_¿Ha sido diagnosticado con COVID19?             1
                                                                                 SALUD_nan_(*) ¿Suele enfermarse con frecuencia?           1
                                                                                 SALUD_nan_(*) ¿La persona se encuentra afectada...        1

                                                                                                                                     Bloque  \
CodVisita                                 CodEntidad    Entidad                  CodPregunta
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8 CASTAÑO ROXANA           DATOS PERSONALES_nan_(*) Apellido                        1
CE_51_d6d3c7c6322ef318_20210827130325514  PPJU090227LE4 PEREZ JUAN CARLOS DANIEL DATOS PERSONALES_nan_(*) Apellido                        1
                                          PPJE190530UP6 PEREZ JEREMIAS ORLANDO   SALUD_nan_¿Ha sido diagnosticado con COVID19?            1
                                                                                 SALUD_nan_(*) ¿Suele enfermarse con frecuencia?          1
                                                                                 SALUD_nan_(*) ¿La persona se encuentra afectada...       1

                                                                                                                                     Pregunta  \
CodVisita                                 CodEntidad    Entidad                  CodPregunta
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8 CASTAÑO ROXANA           DATOS PERSONALES_nan_(*) Apellido                          1
CE_51_d6d3c7c6322ef318_20210827130325514  PPJU090227LE4 PEREZ JUAN CARLOS DANIEL DATOS PERSONALES_nan_(*) Apellido                          1
                                          PPJE190530UP6 PEREZ JEREMIAS ORLANDO   SALUD_nan_¿Ha sido diagnosticado con COVID19?              1
                                                                                 SALUD_nan_(*) ¿Suele enfermarse con frecuencia?            1
                                                                                 SALUD_nan_(*) ¿La persona se encuentra afectada...         1

                                                                                                                                     Respuesta
CodVisita                                 CodEntidad    Entidad                  CodPregunta
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8 CASTAÑO ROXANA           DATOS PERSONALES_nan_(*) Apellido                           1
CE_51_d6d3c7c6322ef318_20210827130325514  PPJU090227LE4 PEREZ JUAN CARLOS DANIEL DATOS PERSONALES_nan_(*) Apellido                           1
                                          PPJE190530UP6 PEREZ JEREMIAS ORLANDO   SALUD_nan_¿Ha sido diagnosticado con COVID19?               1
                                                                                 SALUD_nan_(*) ¿Suele enfermarse con frecuencia?             1
                                                                                 SALUD_nan_(*) ¿La persona se encuentra afectada...          1

In [60]:
respuestas_pivoted = respuestas_array.pivot(index=['CodVisita', 'CodEntidad', 'Entidad'], columns='CodPregunta', values='Respuesta').clean_names()
respuestas_pivoted.head()

CodPregunta                                                                                                                acceso_a_agua_iii_nan_*_distancia_del_pozo_de_agua_a_la_vivienda_metros_  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                        NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                              NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                                NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                               NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                            [200]

CodPregunta                                                                                                                acceso_a_agua_iii_nan_*_marcar_todas_las_opciones_con_las_que_cuenta_la_vivienda  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                        NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                              NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                                NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                               NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                           [POZO DE AGUA, TACHOS]

CodPregunta                                                                                                                acceso_a_agua_iii_nan_*_¿cuantas_cisternas_  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                 NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                       NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                         NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                        NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                       NaN

CodPregunta                                                                                                                acceso_a_agua_iii_nan_indique_el_ancho_en_metros_del_techo_de_chapa_mas_grande  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                        NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                              NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                                NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                               NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                              NaN

CodPregunta                                                                                                                acceso_a_agua_iii_nan_indique_el_largo_en_metros_del_techo_de_chapa_mas_grande  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                        NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                              NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                                NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                               NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                              NaN

CodPregunta                                                                                                                acceso_a_agua_iii_nan_metros_cuadrados_del_techo_de_chapa  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                        NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                              NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                                NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                               NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                              NaN

CodPregunta                                                                                                                acceso_a_agua_iii_nan_profundidad_del_pozo_de_agua_metros_  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                        NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                              NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                                NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                               NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                              [7]

CodPregunta                                                                                                                acceso_a_agua_iii_nan_¿comparten_el_pozo_de_agua_con_otras_viviendas_  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                        NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                              NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                                NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                               NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                             [SÍ]

CodPregunta                                                                                                                acceso_a_agua_ii_nan_*_distancia_del_pozo_de_agua_a_la_vivienda_metros_  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                        NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                              NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                                NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                               NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                              NaN

CodPregunta                                                                                                                acceso_a_agua_ii_nan_*_marcar_todas_las_opciones_con_las_que_cuenta_la_vivienda  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                        NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                [CISTERNA, TECHO DE CHAPA NO CONECTADO A UNA C...
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                                NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                               NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                              NaN

CodPregunta                                                                                                                 ...  \
CodVisita                                 CodEntidad                                Entidad                                 ...
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                          ...
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                ...
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS  ...
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                 ...
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                ...

CodPregunta                                                                                                                salud_nan_*_¿la_persona_se_encuentra_afectada_por_mal_de_chagas_  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                       [NO]
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                              NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                               [NO]
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                              [NO]
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                              NaN

CodPregunta                                                                                                                salud_nan_*_¿suele_enfermarse_con_frecuencia_  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                  [NO]
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                         NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                          [NO]
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                         [NO]
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                         NaN

CodPregunta                                                                                                                salud_nan_¿ha_sido_diagnosticado_con_covid19_  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                  [NO]
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                         NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                          [NO]
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                         [NO]
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                         NaN

CodPregunta                                                                                                                salud_nan_¿posee_algun_tipo_de_discapacidad_  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                                 [NO]
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                        NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                         [NO]
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                        [NO]
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                        NaN

CodPregunta                                                                                                                salud_nan_¿que_tipo_de_discapacidad_  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                          NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                  NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                 NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                NaN

CodPregunta                                                                                                                terreno_nan_*_consentimiento_de_grabacion  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                               NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                                    [NO]
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                                       NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                                      NaN
CE_100_ac7920cfe82b271a_20210908173240427 CV_337_ac7920cfe82b271a_20210908173240618 VIVIENDA                                                                     NaN

CodPregunta                                                                                                                terreno_nan_*_observaciones  \
CodVisita                                 CodEntidad                                Entidad
CE_100_7f680a31ff0c1ed0_20210903103713025 CCRO7307105F8                             CASTAÑO ROXANA                                                 NaN
                                          CV_337_7f680a31ff0c1ed0_20210903103713179 VIVIENDA                                                       NaN
                                          GGAN200912AF6                             GONZALEZ TOLOZA ANGELES AMBAR MILAGROS                         NaN
                                          GGRA910127AT3                             GONZALEZ RAUL FRANCISCO                                        NaN

In [61]:
respuestas_pivoted.shape

(3654, 294)

In [62]:
respuestas_pivoted.columns

Index(['acceso_a_agua_iii_nan_*_distancia_del_pozo_de_agua_a_la_vivienda_metros_',
       'acceso_a_agua_iii_nan_*_marcar_todas_las_opciones_con_las_que_cuenta_la_vivienda',
       'acceso_a_agua_iii_nan_*_¿cuantas_cisternas_',
       'acceso_a_agua_iii_nan_indique_el_ancho_en_metros_del_techo_de_chapa_mas_grande',
       'acceso_a_agua_iii_nan_indique_el_largo_en_metros_del_techo_de_chapa_mas_grande',
       'acceso_a_agua_iii_nan_metros_cuadrados_del_techo_de_chapa',
       'acceso_a_agua_iii_nan_profundidad_del_pozo_de_agua_metros_',
       'acceso_a_agua_iii_nan_¿comparten_el_pozo_de_agua_con_otras_viviendas_',
       'acceso_a_agua_ii_nan_*_distancia_del_pozo_de_agua_a_la_vivienda_metros_',
       'acceso_a_agua_ii_nan_*_marcar_todas_las_opciones_con_las_que_cuenta_la_vivienda',
       ...
       'salud_nan_*_¿la_persona_se_encuentra_afectada_por_mal_de_chagas_',
       'salud_nan_*_¿suele_enfermarse_con_frecuencia_',
       'salud_nan_¿ha_sido_diagnosticado_con_covid19_',
       'salud_nan_¿posee_algun_tipo_de_discapacidad_',
       'salud_nan_¿que_tipo_de_discapacidad_',
       'terreno_nan_*_consentimiento_de_grabacion',
       'terreno_nan_*_observaciones',
       'terreno_nan_*_¿esta_de_acuerdo_con_que_le_realicemos_la_encuesta_del_agua_',
       'terreno_nan_*_¿nos_permite_grabar_la_encuesta_para_poder_corregir_errores_mas_facil_despues_',
       'terreno_nan_*_¿se_puede_realizar_la_encuesta_'],
      dtype='object', name='CodPregunta', length=294)

In [63]:
respuestas_pivoted.info()

# 3654 filas
# 294 columnas

# aprox unas 400 filas más que la tabla personas (3200)

# NICE

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3654 entries, ('CE_100_7f680a31ff0c1ed0_20210903103713025', 'CCRO7307105F8', 'CASTAÑO ROXANA') to ('CE_9_d6d3c7c6322ef318_20210812135950997', 'GGJO591101JA8', 'GOMEZ JOSE MARIA')
Columns: 294 entries, acceso_a_agua_iii_nan_*_distancia_del_pozo_de_agua_a_la_vivienda_metros_ to terreno_nan_*_¿se_puede_realizar_la_encuesta_
dtypes: object(294)
memory usage: 8.5+ MB

In [64]:
df_dict['Respuestas'].head()

,CodVisita,CodEntidad,Entidad,Seccion,Bloque,Pregunta,Respuesta,CodPregunta
0,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Tipo de Documento,DNI,DATOS PERSONALES_nan_(*) Tipo de Documento
1,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Número de Documento,45659506,DATOS PERSONALES_nan_(*) Número de Documento
2,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Apellido,ARANDA,DATOS PERSONALES_nan_(*) Apellido
3,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Nombres,ALFIO NAHUEL,DATOS PERSONALES_nan_(*) Nombres
4,CE_7_2888bcab266c4163_20210812111325912,AAAL040503GM1,ARANDA ALFIO NAHUEL,DATOS PERSONALES,NaN,(*) Fecha de Nacimiento,2004-05-03 00:00:00,DATOS PERSONALES_nan_(*) Fecha de Nacimiento

#### Objetivo Parajes

In [65]:
df_dict['Objetivo Parajes'].iloc[: , :5].head().clean_names()
# aquí querría pasarle el parámetro case="upper_camel" para mantener el estilo con el resto de las tablas

,paraje,municipio,departamento,cantidad_de_familias,km_que_recorre_el_camion_cisterna
0,Acequia Vieja,Colonia Dora,Avellaneda,10.0,20
1,Blanca Pozo,Colonia Dora,Avellaneda,65.0,44
2,Bracho Laguna,Colonia Dora,Avellaneda,33.0,15
3,Bracho Lujan,Colonia Dora,Avellaneda,40.0,30
4,Canal 3,Colonia Dora,Avellaneda,10.0,10

In [66]:
df_dict['Objetivo Parajes'] = df_dict['Objetivo Parajes'].iloc[: , :5].clean_names()
# aplico clean_names() para quitar espacios en nombres de columnas

### Save data to database

In [67]:
df_dict['Visitas_gpd'].to_postgis("visitas", engine, index=False, if_exists="replace")

# escribo el que tiene la geometry

In [68]:
df_dict['Personas'].to_sql("personas", engine, index=False, if_exists="replace")

In [69]:
df_dict['Viviendas'].to_sql("viviendas", engine, index=False, if_exists="replace")

In [70]:
df_dict['Respuestas'].to_sql("respuestas", engine, index=False, if_exists="replace")

In [71]:
respuestas_array.to_sql("respuestas_array", engine, index=False, if_exists="replace")

In [72]:
# respuestas_pivoted.to_sql("respuestas_pivoted", engine, index=False, if_exists="replace")

# issues con nombres de columnas tan largos

# no sé si están duplicados en el DF o se duplican por una restricción a la hora de escribir la DB
# codificar o colocar IDs de pregunta

# evaluar cómo hacer un replace de un preguntas por un integer

In [73]:
df_dict['Multimedias'].to_sql("multimedias", engine, index=False, if_exists="replace")

In [74]:
df_dict['Objetivo Parajes'].to_sql("objetivo_parajes", engine, index=False, if_exists="replace")

### Validate written tables

In [75]:
pd.read_sql("""
SELECT 
   table_name, 
   column_name, 
   data_type 
FROM 
   information_schema.columns
WHERE table_schema = 'public';
""", engine)

          table_name           column_name          data_type
0   objetivo_parajes  cantidad_de_familias   double precision
1   geometry_columns       f_table_catalog  character varying
2        multimedias               Archivo               text
3    spatial_ref_sys             auth_srid            integer
4   geometry_columns     f_geometry_column               name
..               ...                   ...                ...
66           visitas               Latitud   double precision
67  geometry_columns        f_table_schema               name
68  objetivo_parajes             municipio               text
69           visitas          NombreVisita               text
70          personas                  Sexo               text

[71 rows x 3 columns]

## Dudas y consultas

* ...