In [1]:
%%capture

!pip install psycopg2-binary

In [2]:
import pandas as pd
# import numpy as np
from sqlalchemy import create_engine

### Load connection

In [3]:
engine = create_engine('postgresql://postgres:andy1234@database/postgres')

# accedo a DB por defecto

### Test DB connection

In [4]:
pd.read_sql("""
SELECT 
   table_name, 
   column_name, 
   data_type 
FROM 
   information_schema.columns;
""", engine)

                   table_name           column_name          data_type
0                       tract                awater   double precision
1                     pg_type               typelem                oid
2                    pg_class        relpersistence             "char"
3              foreign_tables  foreign_table_schema               name
4           table_constraints         is_deferrable  character varying
...                       ...                   ...                ...
2266         pg_statistic_ext          stxnamespace                oid
2267           pg_stat_gssapi     gss_authenticated            boolean
2268      pg_stat_user_tables             n_tup_upd             bigint
2269       user_defined_types        collation_name               name
2270  constraint_column_usage          table_schema               name

[2271 rows x 3 columns]

### Load data

In [5]:
filename = '../data/raw-data/Crudo relevamiento Programa de Agua.xlsx'

visitas = pd.read_excel(filename,
                        sheet_name = 0)

In [6]:
visitas

,CodVisita,Alias,NombreVisita,FechaInicial,FechaFinal,EstadoEncuesta,Usuario,FechaSincronizacion
0,CE_13_2888bcab266c4163_20210819112535550,ISF_0000258,MONTES STO DOMINGO,2021-08-19,2021-08-19,Completa,Gaston Guillermo Palavecino,2021-08-20
1,CE_16_2888bcab266c4163_20210819141251511,ISF_0000260,PERALTA STO DOMINGO,2021-08-19,2021-08-19,Completa,Gaston Guillermo Palavecino,2021-08-20
2,CE_17_2888bcab266c4163_20210819161516397,ISF_0000261,PERALTA NORMANDO,2021-08-19,2021-08-20,Completa,Gaston Guillermo Palavecino,2021-08-20
3,CE_19_2888bcab266c4163_20210820120514180,ISF_0000263,GOMEZ STO DOMINGO,2021-08-20,2021-08-20,Completa,Gaston Guillermo Palavecino,2021-08-20
4,CE_23_2888bcab266c4163_20210820170118855,ISF_0000267,ROJAS CESAR STO DOMINGO,2021-08-20,2021-08-20,Completa,Gaston Guillermo Palavecino,2021-08-20
...,...,...,...,...,...,...,...,...
408,CE_46_d6d3c7c6322ef318_20210824150159684,ISF_0000314,GOMEZ SILVIA N- BRACHO LAGUNA,2021-08-24,2021-08-24,Completa,Roberto Carlos Mansilla,2021-08-24
409,CE_48_d6d3c7c6322ef318_20210824154934432,ISF_0000315,VILLALBA SONIA M.- BRACHO LAGUNA,2021-08-24,2021-08-24,Completa,Roberto Carlos Mansilla,2021-08-24
410,CE_63_d6d3c7c6322ef318_20210827161250396,ISF_0000378,No Especificado,2021-08-27,2021-08-27,Imposibilitada,Roberto Carlos Mansilla,2021-08-27
411,CE_69_d6d3c7c6322ef318_20210830142313191,ISF_0000408,SUÁREZ JUAN C.-MANCAPA,2021-08-30,2021-08-30,Completa,Roberto Carlos Mansilla,2021-08-30
412,CE_71_d6d3c7c6322ef318_20210830164033342,ISF_0000410,PERALTA DANIEL_ MANCAPA,2021-08-30,2021-08-30,Completa,Roberto Carlos Mansilla,2021-08-30

In [7]:
visitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CodVisita            413 non-null    object
 1   Alias                413 non-null    object
 2   NombreVisita         413 non-null    object
 3   FechaInicial         413 non-null    datetime64[ns]
 4   FechaFinal           413 non-null    datetime64[ns]
 5   EstadoEncuesta       413 non-null    object
 6   Usuario              413 non-null    object
 7   FechaSincronizacion  413 non-null    datetime64[ns]
dtypes: datetime64[ns](3), object(5)
memory usage: 25.9+ KB

### Clean data

In [8]:
# ya lee OK como fecha, igualmente casteo

visitas['FechaInicial'] = pd.to_datetime(visitas['FechaInicial'], format='%Y-%m-%d')

visitas['FechaFinal'] = pd.to_datetime(visitas['FechaFinal'], format='%Y-%m-%d')

visitas['FechaSincronizacion'] = pd.to_datetime(visitas['FechaSincronizacion'], format='%Y-%m-%d')

In [9]:
visitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413 entries, 0 to 412
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CodVisita            413 non-null    object
 1   Alias                413 non-null    object
 2   NombreVisita         413 non-null    object
 3   FechaInicial         413 non-null    datetime64[ns]
 4   FechaFinal           413 non-null    datetime64[ns]
 5   EstadoEncuesta       413 non-null    object
 6   Usuario              413 non-null    object
 7   FechaSincronizacion  413 non-null    datetime64[ns]
dtypes: datetime64[ns](3), object(5)
memory usage: 25.9+ KB

In [10]:
print(visitas.dtypes)

CodVisita                      object
Alias                          object
NombreVisita                   object
FechaInicial           datetime64[ns]
FechaFinal             datetime64[ns]
EstadoEncuesta                 object
Usuario                        object
FechaSincronizacion    datetime64[ns]
dtype: object

### Save to database

In [11]:
visitas.to_sql("visitas", engine, index=False, if_exists="replace")

### Validate written table

In [12]:
pd.read_sql("""
SELECT 
   table_name, 
   column_name, 
   data_type 
FROM 
   information_schema.columns
WHERE table_name = 'visitas';
""", engine)

  table_name          column_name                    data_type
0    visitas  FechaSincronizacion  timestamp without time zone
1    visitas         FechaInicial  timestamp without time zone
2    visitas           FechaFinal  timestamp without time zone
3    visitas              Usuario                         text
4    visitas            CodVisita                         text
5    visitas       EstadoEncuesta                         text
6    visitas                Alias                         text
7    visitas         NombreVisita                         text

In [13]:
pd.read_sql("""
SELECT *
FROM 
   information_schema.columns
WHERE table_name = 'visitas';
""", engine)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,postgres,public,visitas,FechaSincronizacion,8,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,postgres,public,visitas,FechaInicial,4,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,postgres,public,visitas,FechaFinal,5,None,YES,timestamp without time zone,None,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,postgres,public,visitas,Usuario,7,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,postgres,public,visitas,CodVisita,1,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,postgres,public,visitas,EstadoEncuesta,6,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,postgres,public,visitas,Alias,2,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,postgres,public,visitas,NombreVisita,3,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,NO,NEVER,None,YES