In [2]:
import pandas as pd
# import numpy as np
from sqlalchemy import create_engine

In [3]:
# Load connection

In [4]:
engine = create_engine('postgresql://postgres:andy1234@database/postgres')

# accedo a DB por defecto

# Load data

In [36]:
df = pd.read_sql("""
SELECT a.*,
        CASE WHEN a."Entidad" = 'VIVIENDA' THEN 'VIVIENDA' ELSE 'PERSONA' END as "TipoEntidad",
        b."Sexo",
        b."Edad",
        -- b."CodVisita" as "CodVisitaFromPersonas",
        -- CASE WHEN b."CodVisita" = a."CodVisita" THEN True ELSE False END as "CodVisitaCheck",
        c."Latitud",
        c."Longitud",
        c.geometry,
        d."Pregunta",
        e."Paraje"
FROM public.respuestas_array a
LEFT JOIN public.personas b on a."CodEntidad" = b."CodPersona"
LEFT JOIN public.visitas c on a."CodVisita" = c."CodVisita"
LEFT JOIN public.maestro_preguntas d on a."IdPregunta" = d."IdPregunta"
LEFT JOIN public.viviendas e on a."CodVisita" = e."CodVisita"
WHERE a."Entidad" = 'VIVIENDA';
""", engine)

df.head()

,CodVisita,CodEntidad,Entidad,IdPregunta,IdPreguntaName,Respuesta,TipoEntidad,Sexo,Edad,Latitud,Longitud,geometry,Pregunta,Paraje
0,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,21,pregunta_21,{3},VIVIENDA,None,None,-28.380204,-63.387243,0101000020E6100000A482B32991B14FC0B137EF075561...,(*) ¿Cuántas personas viven en la Vivienda?,San Antonio
1,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,22,pregunta_22,{NO},VIVIENDA,None,None,-28.380204,-63.387243,0101000020E6100000A482B32991B14FC0B137EF075561...,(*) ¿La familia se encuentra registrada en RENAF?,San Antonio
2,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,25,pregunta_25,"{""1 HOGAR""}",VIVIENDA,None,None,-28.380204,-63.387243,0101000020E6100000A482B32991B14FC0B137EF075561...,¿Cuántos grupos que comparten gastos de alimen...,San Antonio
3,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,26,pregunta_26,{AAMA390602Q92},VIVIENDA,None,None,-28.380204,-63.387243,0101000020E6100000A482B32991B14FC0B137EF075561...,¿Quién es la persona que responde la encuesta?,San Antonio
4,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,28,pregunta_28,{NO},VIVIENDA,None,None,-28.380204,-63.387243,0101000020E6100000A482B32991B14FC0B137EF075561...,(*) ¿Tiene la vivienda una galería?,San Antonio

In [30]:
(
    df['Paraje']
    .value_counts(dropna=False)
)

La Costa                  18069
Navicha                   16675
Colonia Alcira / El 20     8197
Juventud                   7808
Puente Negro               7747
Colonia Real Sur           7621
Vacasnioj Sur              6395
Colonia Real Norte         6009
Breayoj                    5663
Santo Domingo              4931
Bracho Laguna              4774
Icaño Sur                  4083
Tio Alto                   3734
Vacasnioj                  3452
San Roque                  3250
Mancapa                    2703
Cruz Pozo                  2675
Tacon Esquina              2252
Vacasnioj Norte            2220
Punta Pozo                 2048
Toropan                    1984
San José / Saladillo       1956
Otro Paraje                1948
Tusca Pozo                 1906
Caspi Cuchuna              1698
Totora                     1628
Taquello                   1560
Lote 1                     1371
Tronco Blanco              1293
Salvia Paso                1157
Santa Elena                1054
Lote 5                     1014
Paaj Muyoj                  972
Carmona                     914
San Antonio                 902
Retiro                      900
Huiñaj Rincon               878
Novillo Pozo                838
Konshulnioj                 681
Yacasnioj                   576
San Isidro                  459
Tagan                       456
Km 5                        428
Chuña Pampa                 386
Manquitallo                 386
El Cruce                    287
Roano Pozo                  222
Punta Isla                  166
Name: Paraje, dtype: int64

In [35]:
(
    df['TipoEntidad']
    .value_counts(dropna=False)
)

VIVIENDA    89581
PERSONA     58745
Name: TipoEntidad, dtype: int64

In [37]:
parajes = pd.read_sql("""
WITH t1 as (
SELECT a.*,
        b."Latitud",
        b."Longitud",
        b.geometry
FROM public.viviendas a
LEFT JOIN public.visitas b on a."CodVisita" = b."CodVisita"
)
SELECT ;
""", engine)

df.head()

,CodVisita,CodEntidad,Entidad,IdPregunta,IdPreguntaName,Respuesta,TipoEntidad,Sexo,Edad,Latitud,Longitud,geometry,Pregunta,Paraje
0,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,21,pregunta_21,{3},VIVIENDA,None,None,-28.380204,-63.387243,0101000020E6100000A482B32991B14FC0B137EF075561...,(*) ¿Cuántas personas viven en la Vivienda?,San Antonio
1,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,22,pregunta_22,{NO},VIVIENDA,None,None,-28.380204,-63.387243,0101000020E6100000A482B32991B14FC0B137EF075561...,(*) ¿La familia se encuentra registrada en RENAF?,San Antonio
2,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,25,pregunta_25,"{""1 HOGAR""}",VIVIENDA,None,None,-28.380204,-63.387243,0101000020E6100000A482B32991B14FC0B137EF075561...,¿Cuántos grupos que comparten gastos de alimen...,San Antonio
3,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,26,pregunta_26,{AAMA390602Q92},VIVIENDA,None,None,-28.380204,-63.387243,0101000020E6100000A482B32991B14FC0B137EF075561...,¿Quién es la persona que responde la encuesta?,San Antonio
4,CE_100_2888bcab266c4163_20211007172358497,CV_337_2888bcab266c4163_20211007172358630,VIVIENDA,28,pregunta_28,{NO},VIVIENDA,None,None,-28.380204,-63.387243,0101000020E6100000A482B32991B14FC0B137EF075561...,(*) ¿Tiene la vivienda una galería?,San Antonio