In [6]:
%%capture

!pip install psycopg2-binary openpyxl

In [2]:
import pandas as pd
# import numpy as np
from sqlalchemy import create_engine

### Load connection

In [3]:
engine = create_engine('postgresql://postgres:andy1234@database/postgres')

# accedo a DB por defecto

### Test DB connection

In [4]:
pd.read_sql("""
SELECT 
   table_name, 
   column_name, 
   data_type 
FROM 
   information_schema.columns;
""", engine)

                   table_name           column_name          data_type
0                       tract                awater   double precision
1                     pg_type               typelem                oid
2                    pg_class        relpersistence             "char"
3              foreign_tables  foreign_table_schema               name
4           table_constraints         is_deferrable  character varying
...                       ...                   ...                ...
2266         pg_statistic_ext          stxnamespace                oid
2267           pg_stat_gssapi     gss_authenticated            boolean
2268      pg_stat_user_tables             n_tup_upd             bigint
2269       user_defined_types        collation_name               name
2270  constraint_column_usage          table_schema               name

[2271 rows x 3 columns]

### Load data

In [7]:
filename = '../data/raw-data/Crudo relevamiento Programa de Agua.xlsx'

visitas = pd.read_excel(filename,
                        sheet_name = 0)

In [8]:
visitas

,CodVisita,Alias,NombreVisita,FechaInicial,FechaFinal,EstadoEncuesta,Usuario,Longitud,Latitud,FechaSincronizacion,Paraje,Unnamed: 11,Unnamed: 12
0,CE_4_2888bcab266c4163_20210810142927683,ISF_0000120,#P RODRIGUEZ CONSULNIOJ,2021-08-10,2021-08-10,Completa,Gaston Guillermo Palavecino,-6.349524e+01,-2.836157e+01,2021-08-12,Konshulnioj,NaN,NaN
1,CE_7_2888bcab266c4163_20210812111325912,ISF_0000121,ROJAS STO DOMINGO,2021-08-12,2021-08-12,Completa,Gaston Guillermo Palavecino,-6.346281e+01,-2.838214e+01,2021-08-12,Santo Domingo,NaN,NaN
2,CE_8_2888bcab266c4163_20210812115911354,ISF_0000124,MONTES STO DOMINGO,2021-08-12,2021-08-12,Completa,Gaston Guillermo Palavecino,-6.346844e+01,-2.838554e+01,2021-08-12,Santo Domingo,NaN,NaN
3,CE_5_2888bcab266c4163_20210810152351710,ISF_0000126,GOMEZ STOCK DOMINGO,2021-08-10,2021-08-10,Completa,Gaston Guillermo Palavecino,-6.347510e+01,-2.836843e+01,2021-08-12,Santo Domingo,NaN,NaN
4,CE_11_2888bcab266c4163_20210818175509034,ISF_0000255,GOMEZ STO DOMINGO,2021-08-18,2021-08-18,Completa,Gaston Guillermo Palavecino,-6.346861e+01,-2.838698e+01,2021-08-20,Santo Domingo,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1009,CE_121_d6d3c7c6322ef318_20210924123616842,ISFAR2_0000390,NAVARRO LUCIO_LA COSTA,2021-09-24,2021-09-24,Completa,Roberto Carlos Mansilla,-6.283821e+09,-2.863830e+09,2021-09-27,La Costa,NaN,NaN
1010,CE_123_d6d3c7c6322ef318_20210924152303045,ISFAR2_0000391,LÓPEZ RUBÉN A._ LA COSTA,2021-09-24,2021-09-24,Completa,Roberto Carlos Mansilla,-6.283624e+09,-2.863980e+09,2021-09-27,La Costa,NaN,NaN
1011,CE_125_d6d3c7c6322ef318_20210924175238278,ISFAR2_0000392,MACZUD IZMAEL_ LA COSTA,2021-09-24,2021-09-24,Completa,Roberto Carlos Mansilla,-6.286286e+09,-2.865428e+09,2021-09-27,La Costa,NaN,NaN
1012,CE_61_d4e4080243566731_20210914105152615,ISFAR2_0000140,LUIS SOSA NAVICHA,2021-09-14,2021-09-14,Completa,Marianela Dib,-6.275424e+09,-2.873060e+09,2021-09-14,Navicha,NaN,NaN
1013,CE_62_d4e4080243566731_20210914123230376,ISFAR2_0000144,JUAN MARCELO CHAZARRETA NAVICHA,2021-09-14,2021-09-14,Completa,Marianela Dib,NaN,NaN,2021-09-14,Navicha,NaN,NaN

In [9]:
visitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CodVisita            1014 non-null   object
 1   Alias                1013 non-null   object
 2   NombreVisita         1014 non-null   object
 3   FechaInicial         1014 non-null   datetime64[ns]
 4   FechaFinal           1014 non-null   datetime64[ns]
 5   EstadoEncuesta       1014 non-null   object
 6   Usuario              1014 non-null   object
 7   Longitud             1002 non-null   float64
 8   Latitud              1002 non-null   float64
 9   FechaSincronizacion  1014 non-null   datetime64[ns]
 10  Paraje               989 non-null    object
 11  Unnamed: 11          0 non-null      float64
 12  Unnamed: 12          1 non-null      object
dtypes: datetime64[ns](3), float64(3), object(7)
memory usage: 103.1+ KB

### Clean data

In [10]:
# ya lee OK como fecha, igualmente casteo

visitas['FechaInicial'] = pd.to_datetime(visitas['FechaInicial'], format='%Y-%m-%d')

visitas['FechaFinal'] = pd.to_datetime(visitas['FechaFinal'], format='%Y-%m-%d')

visitas['FechaSincronizacion'] = pd.to_datetime(visitas['FechaSincronizacion'], format='%Y-%m-%d')

In [11]:
visitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CodVisita            1014 non-null   object
 1   Alias                1013 non-null   object
 2   NombreVisita         1014 non-null   object
 3   FechaInicial         1014 non-null   datetime64[ns]
 4   FechaFinal           1014 non-null   datetime64[ns]
 5   EstadoEncuesta       1014 non-null   object
 6   Usuario              1014 non-null   object
 7   Longitud             1002 non-null   float64
 8   Latitud              1002 non-null   float64
 9   FechaSincronizacion  1014 non-null   datetime64[ns]
 10  Paraje               989 non-null    object
 11  Unnamed: 11          0 non-null      float64
 12  Unnamed: 12          1 non-null      object
dtypes: datetime64[ns](3), float64(3), object(7)
memory usage: 103.1+ KB

In [12]:
print(visitas.dtypes)

CodVisita                      object
Alias                          object
NombreVisita                   object
FechaInicial           datetime64[ns]
FechaFinal             datetime64[ns]
EstadoEncuesta                 object
Usuario                        object
Longitud                      float64
Latitud                       float64
FechaSincronizacion    datetime64[ns]
Paraje                         object
Unnamed: 11                   float64
Unnamed: 12                    object
dtype: object

### Save to database

In [ ]:
visitas.to_sql("visitas", engine, index=False, if_exists="replace")

### Validate written table

In [ ]:
pd.read_sql("""
SELECT 
   table_name, 
   column_name, 
   data_type 
FROM 
   information_schema.columns
WHERE table_name = 'visitas';
""", engine)

In [ ]:
pd.read_sql("""
SELECT *
FROM 
   information_schema.columns
WHERE table_name = 'visitas';
""", engine)